[2020-07-02 22:04] mholford-neo opened #1579 "A "summing" Map-Merge function"
It would be neat if there were an apoc functions that merged two maps and, where keys are shared between the two maps, summed the values in the merged map.
For example:
RETURN apoc.???({x: 17, y: 'hello'}, {x;25, z: 'world'}) would output {x:42, y: 'hello', z:'world'}.
I'm thinking primarily of summing number values, but it could also perform other '+' operations like string concatenation or appen

[2020-07-03 05:53] tonny008 opened #1580 "apoc.custom.asProcedure not working."
## Expected Behavior (Mandatory)
create custom procedure

## Actual Behavior (Mandatory)
throwing exception
[code]

## How to Reproduce the Problem

[code]
neo4j introduce a breaking change by adding a new parameter to the constructor

https://github.com/neo4j/neo4j/commit/49f1c1c19a8591a382b91280e0a71c561c8d4df5#diff-ef588cd97253b916f8f3b1f09cf749a5

### Steps (Mandatory)

  1. call apoc.custom.a

[2020-07-04 10:44] umuzammil opened #1581 "Error in query - CALL apoc.schema.nodes()"
Neo4j Vsersion : 3.5.19
Apoc Versions: 3.5.0.4 and 3.5.0.12

An issue in APOC procedure CALL apoc.schema.nodes(), It runs fine when there is NO index but It got fails with below error when there is any type of index in the database

[code]
![IndexOutput](https://user-images.githubusercontent.com/31652619/86510874-c3e8ce80-bdeb-11ea-84b1-ee167a27b4d0.png)

Requesting a fix for this bug and need a u

[2020-07-06 12:11] jexp opened #1582 "rebind flag in apoc.periodic.iterate"
- read entity still works, only writing fails
- <entity>.getId() is still transferrable/useable
- with the flag (default to true or false) ??
- try to walk through datastuctures and lookup entities by id in current tx
- fail if it's not possible

- add an apoc.node/relationship.rebind(node/rel) function
-

[2020-07-08 06:54] MbICJIb commented on #802
I have the same issue wile calling apoc.jdbc.load within apoc.do.when. Even without writing anything.
Neo4j version is 3.5.19. apoc version 3.5.0.12

[2020-07-08 11:32] jexp commented on #802
Need to use when do

What permissions does your user have?

What is your full statement

[2020-07-08 13:42] typinator opened #1583 "apoc.meta.schema Fails to List All Relationship Types"
## Expected Behavior (Mandatory)
apoc.meta.schema lists all of the types. Neo4J Desktop console / CALL db.relationshipTypes() lists 41 types.

The types returned should be:

relationshipType
--
1 | "HAS"
2 | "USES CONNECTOR"
3 | "IS ALLOWED VALUE FOR"
4 | "IS MASTER SOURCE FOR"
5 | "TO"
6 | "SUPPLIES"
7 | "INHERITS PROPERTIES FROM"
8 | "INCLUDES"
9 | "IS DEFAULT VALUE FOR"
10 | "MODIFIES"
11 | "RE

[2020-07-08 17:32] lszumel commented on #1398
I am a similar issue under Neo4j 3.5.14, except the JVM *never* exits and it appears to be due to this step. Is that a unique issue or the same issue? Here are the non-daemon threads in the stack dump from the hanged JVM:
[code]
As you can see there doesn't seem to be anything going on except for `apoc.cypher.CypherInitializer.awaitApocProceduresRegistered()`

[2020-07-08 19:44] jexp commented on #1398
@sarmbruster do you want to look into this one?
All apoc threads should be daemon threads.

[2020-07-09 08:01] wilsli opened #1584 "apoc.custom.asProcedure() doesn't work when there is input parameters."
#1576  Expected Behavior (Mandatory)
create custom procedure for creating or updating a set of devices with the following code:
`call apoc.custom.asProcedure('updateDevices',
'UNWIND $devicesList as device
MERGE (d :Device {dID: toString(device.dID)})
  SET d += device, d.flag="d"
  WITH d
RETURN count(d) AS updCount, collect(d.dID) AS updList',
'write',
[['updCount', 'NUMBER'], ['updList', 'LIST

[2020-07-09 12:12] pjljvandelaar opened #1585 "Null pointer exception on Edge without a data node"
Original submitted as https://github.com/neo4j/neo4j/issues/12544
Neo4j asked to submit here since is apoc issue.

### Version Info

- Neo4j Desktop version: 1.29
- Neo4j version: 4.1.0
- Operating system: Windows 10 (64 bits)
- APOC: 4.1.0.0

### Steps to reproduce
1. Add a new database.
2. Install the APOC plug-in
3. Add to settings
[code]
4. Create File "test.graphml" in directory
`C:\Users\<na

[2020-07-09 13:19] #1570 closed

[2020-07-11 22:30] gwvandesteeg opened #1586 "Create system resources using apoc.initializer.cypher.<key>"
## Feature description (Mandatory)
We'd like the ability to create resources on the system database using the initializer, this would allow us to create a read only user or additional databases to use in the docker image to distribute to our development team without too much complexity.  These need to be created during the image startup since there is no way of knowing whether the user is using a

[2020-07-11 22:38] gwvandesteeg opened #1587 "TTL: Error creating index An equivalent index already exists,"
## Expected Behavior (Mandatory)
No error logs created when restarting an instance (either docker or other)

## Actual Behavior (Mandatory)
When restarting an instance which has `apoc.ttl.enabled=true` configured an error and traceback is generated when it tries to re-create the TTL index.  This can probably be resolved by ensuring the index is created using a CREATE OR REPLACE or a CREATE IF NOT

[2020-07-12 12:01] gwvandesteeg opened #1588 "TTL: when enabling the TTL functionality the index only gets added to the default DB"
## Expected Behavior (Mandatory)

Expected to have the TTL index created on those databases that didn't already have the index.

## Actual Behavior (Mandatory)

Any additional databases/graphs created using CREATE DATABASE don't have the TTL index added even when the image is restarted.

## How to Reproduce the Problem

1. Start a docker instance with apoc.ttl.enabled set to true
1. Create an addi

[2020-07-13 09:17] conker84 opened #1589 "Some settings don't work with Docker containers"
Properties like `apoc.initializer.cypher` don't work with docker containers via env variables (i.e. `NEO4J_apoc_initializer_cypher`) because they're not defined in `ApocSettings`.

[2020-07-13 13:59] jexp opened #1592 "Make sure that none of the threads we create is a non-daemon thread"
Esp in cypher initjalizer and other delays
Or in periodic iterate/semaphores/tx-utilities

[2020-07-13 14:36] conker84 commented on #1583
@typinator the procedure works fine, the problem is the query:

[code]
with the second UNWIND (`UNWIND keys(data.properties) as property`) you're implicitly excluding all the relationships with no properties

can you try with this?

[code]

[2020-07-13 14:43] conker84 commented on #1580
I'm closing this because is the same as #1584, please @tonny008 follow the discussion in that thread

[2020-07-13 14:43] #1580 closed

[2020-07-14 08:35] typinator commented on #1583
That works a treat - thanks! Just need to sort the properties.

[2020-07-14 16:00] Mike-Rossi commented on #1435
Hi, how were you able to return prop?  I'm not sure what apoc function to use.

[2020-07-14 16:19] conker84 commented on #1579
As it can be solved as a simple cypher query I suggest to create a cypher function:

https://neo4j.com/docs/labs/apoc/current/cypher-execution/cypher-based-procedures-functions/

[2020-07-14 16:26] conker84 commented on #1577
@ericmonk it always drops the indexes also for the single property version, this because you're there is a third parameter named `dropExisting` which is default `true`, can you try the following query?

[code]

[2020-07-14 16:26] #1583 closed

[2020-07-14 17:16] conker84 commented on #1572
@jexp this behaviour is defined by code:

https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/4.1/core/src/main/java/apoc/refactor/util/PropertiesManager.java#L66-L68

How should we handle this?

[2020-07-14 18:24] jexp commented on #1572
Perhaps a config option?

[2020-07-15 07:50] conker84 commented on #1568
@ckazz  can you try with this jar?
[apoc-3.5.0.12-all.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/4920248/apoc-3.5.0.12-all.jar.zip)

[2020-07-15 07:59] conker84 commented on #1581
[apoc-3.5.0.12-all.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/4923663/apoc-3.5.0.12-all.jar.zip)

@umuzammil can you try with the jar above?

[2020-07-15 08:02] conker84 commented on #1558
closed as duplicate of #1555

[2020-07-15 08:02] #1558 closed

[2020-07-15 10:32] umuzammil commented on #1581
Thanks @conker84 3.5.0.12-all.jar fixed the issue

[2020-07-15 21:43] ckazz commented on #1568
Thanks @conker84. Shared with the user facing the issue and will update you as soon as I hear back.

[2020-07-17 07:00] bbenzikry opened #1596 "Change key/secret to optional in apoc.nlp calls for AWS"
Currently ``verifyKey`` is called for key & secret when using apoc.nlp.aws procedures.
This poses several issues, especially under an orchestrated environment ( we use k8s )

1. We don't want to rely on key/secret use ( we prefer using roles when calling the AWS APIs. specifically via [IRSA](https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) )

2. As we have to e

[2020-07-17 14:47] ckazz commented on #1568
@conker84 the jar did not resolve their issue. I'm asking whether they can update their findings directly here.

[2020-07-20 13:42] #1556 closed

[2020-07-20 13:42] #1584 closed

[2020-07-20 14:12] #1547 closed

[2020-07-22 18:29] mikernorton opened #1598 "License issue - is this product now GPLv3?"
## Expected Behavior (Mandatory)
License for APOC is Apache 2.0 as stated in the LICENSE file

## Actual Behavior (Mandatory)
There are three files in core/src/main/java/org/neo4j/cypher/export that state in the header that they are GPL v3. This can cause issues with my company.

## How to Reproduce the Problem
Look the files in  core/src/main/java/org/neo4j/cypher/export

  - Neo4j-Apoc: 4.1.0

[2020-07-23 13:03] #1579 closed

[2020-07-23 13:06] #1581 closed

[2020-07-23 13:06] conker84 commented on #1577
@ericmonk ping

[2020-07-23 13:06] #1577 closed

[2020-07-27 08:22] lqst commented on #1588
What happens if you create a new node in the 'missingttl' database and set it to expire? For instance:
`create (p:Person{id:1}) return p`
`match (p:Person{id:1}) with p call apoc.ttl.expireIn(p, 1, 's') return p`

At least when I tested, the TTL index is then added.

[2020-07-27 09:18] lqst commented on #1588
Scrap that, you only need to wait for the schedule to kick in before the index is created (runs every 60s by default and can be configured with apoc.ttl.schedule).

[2020-07-28 20:08] InverseFalcon commented on #1427
As a workaround, we can use CASE as a safeguard to avoid the call if the optional value is null:

[code]

[2020-07-28 22:34] shahadp commented on #1427
Hi @InverseFalcon,

Thanks for the update really appreciated, that is exactly what i am doing to avoid the issue at the moment. With the new version (4.x) there are strange issues with cyphers that were previously working with 3.X version with zero issues.

[2020-07-29 00:06] gwvandesteeg opened #1603 "Create TTL only if it doesn't exist"
https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/16581f3253f82e75506428dfd2a498346c6bfb1d/full/src/main/java/apoc/ttl/TTLLifeCycle.java#L69

The TTL index should be amended to be IF NOT EXISTS, otherwise you get a nice exception on startup, however this will limit it to versions of neo4j which support the IF NOT EXISTS on index/constraint creation.

[code]

[2020-07-29 00:07] #1603 closed

[2020-07-29 00:07] gwvandesteeg commented on #1603
Duplicate

[2020-07-29 00:33] gwvandesteeg commented on #1588
Yup, can confirm that the index is created after a TTL schedule run.  Nothing to do here then code wise, just need to update the documentation that this is the behaviour.

[2020-07-29 13:18] Berkla opened #1604 "RETURN apoc.coll.max([1,2,3,4,5]) result is NULL?"
Using Neo4j Server version: 4.0.3

## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)

## Actual Behavior (Mandatory)

## How to Repro

[2020-07-29 13:24] conker84 commented on #1604
hi @Berkla can you share your apoc version?
just run `return apoc.version()`

[2020-07-29 13:33] Berkla commented on #1604
It seems, that I destroyed my message:
APOC: 4.0.0.17'
Neo4j: 4.03
Browser: 4.0.5

I've several dirty collections, with mostly numbers, but also Nulls and Text. I want to find out the max over all collections.

Doing this works:

<return apoc.coll.max([]+[1,2,3]+[4,5])>
<return apoc.coll.max([NULL]+[1,2,3]+[4,5])>
<return apoc.coll.max([1,2,3]+[4,5]+[NULL])>

But this rusults in NULL:
<return apoc

[2020-07-29 14:48] conker84 commented on #1568
@jranua can you please share the md5 of the file?

[2020-07-29 14:50] conker84 commented on #1543
@handsometang can you try with the last version of apoc?

[2020-07-29 14:59] conker84 commented on #1586
Hi @gwvandesteeg with 7fb766e we added the support `NEO4J_apoc_initializer_cypher` without the `<key>` and it's the best that we can do given the fact that the Neo4j Setting system in v `4.x` radically changed and not allow to define that kind of properties anymore.
So my suggestion is to try to build the apoc from the source and then use `NEO4J_apoc_initializer_cypher` in combination with `apoc.c

[2020-07-29 15:22] conker84 commented on #1424
closed via 35d6783

[2020-07-29 15:22] #1424 closed

[2020-07-29 15:24] conker84 commented on #1421
closed via 8e9cf0f

[2020-07-29 15:24] #1421 closed

[2020-07-29 17:54] davidfauth opened #1606 "Call dbms.cluster.role() requires a database as a parameter in 4.x"
##  Expected Behavior (Mandatory)
When running the apoc.ttl functions, it makes a call to util.java to see if this instance is writeable.
On line 703, it calls:
String role = db.executeTransactionally("CALL dbms.cluster.role()", Collections.emptyMap(),

In 4.x, this throws an error as it is looking for a database name.

## Actual Behavior (Mandatory)
Should provide 1 parameter in cypher ,  for exa

[2020-07-29 18:08] stuartlaurie opened #1608 "improve apoc.ttl to enable deletion of more than 1000 nodes at once"
Improve deletion performance and remove the 1000 limit

[2020-07-30 16:39] stevensalvini opened #1610 "apoc.import.graphml fails reading file if readLabels param set"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)

Import a .graphml file with labels

## Actual Behavior (Mandatory)

ERROR: Neo.Cli

[2020-07-30 16:47] jranua commented on #1568
@conker84
MD5 hash of apoc-3.5.0.12-all.jar:
b6adfd51365bd9e26e78f1978fae0f22
CertUtil: -hashfile command completed successfully.

[2020-07-31 06:22] lqst commented on #1588
Thank you for confirming, I will have a stab later at updating the docs.

[2020-08-02 12:50] moxious opened #1612 "Neo4j 4 on Aura permissions adjustment due to PUBLIC role"
For Neo4j 4 running on Aura, the neo4j user was adjusted to have the role PUBLIC, with some special exceptions.   The reasons why this is the case are complicated, but that's how it works.

APOC has some security checks in it (I think) which is causing some functions to fail specifically on Neo4j 4 running on Aura.

Specific example, this succeeds in the "Neo4j 4 on Aura" environment:

[code]

But

[2020-08-03 08:23] conker84 commented on #1568
@jranua I don't know what you're are doing wrong but I have the same MD5 and it works fine.
can you try with a fresh instance?

[2020-08-03 09:05] craigtaverner commented on #1612
This is due to a security feature introduced in Neo4j 3.1 allowing procedures to run with adjusted security settings, so that Neo4j could provide a kind of fine-grained access control. Now that real fine-grained access control is available in Neo4j 4.0, all that is missing to facilitate the removal of the old mechanism is procedure privileges. There are plans to add these to Neo4j, hopefully soon.

[2020-08-03 21:40] jranua commented on #1568
Hmm, I'm thoroughly confused. I now have a stripped down Neo4j 3.5.18 with the apoc jar you provided. Originally I had a graphaware plugin also included. I am running on a Windows 10 VM.

I re-deployed the procedure, made sure it was available (call apoc.custom.list) and then tried to run it. I purposely put a syntax error in the call and it correctly told me my data type was wrong (see screenshot

[2020-08-04 22:51] jexp commented on #1453
@conker84 could you have a look at this?

[2020-08-08 09:28] EnziinSystem commented on #1571
Me too.

[code]

[2020-08-08 14:56] graphadvantage opened #1615 "Support for Fabric -"
## Guidelines

## Feature description (Mandatory)
Apoc support for Neo4j Fabric operations, ability to directly merge virtual nodes and rels queried from Fabric shards.  Ability to create a symmetric index for semantically identical nodes across shards, and use this index to merge vNodes for downstream query operations. Merged vNodes should retain metadata on their provenance (fabric graph id and

[2020-08-09 08:20] jexp opened #1616 "Fix Tx Monitoring to correctly return lastTxId"
And not numberOfStarted transactions.

Code in 3.5 was correct / used different API.

https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/4.1/full/src/test/java/apoc/monitor/Transaction.java#L24

[2020-08-10 08:05] MishaDemianenko commented on #1616
`TransactionIdStore` should be used instead as a source of last committed transaction

[2020-08-10 10:51] jexp commented on #1615
Can you provide a bit more detail / examples for what you want to do Michael?

[2020-08-10 10:58] jexp commented on #1586
How about mapping the `conf` directory in docker and putting an `apoc.conf` in there? `-v conf:/conf`

[2020-08-10 10:59] jexp commented on #1586
@gwvandesteeg does @conker84's suggestion work for you? We're kinda limited what we can do here.

[2020-08-10 10:59] jexp commented on #1586
@sarmbruster would it be possible to pass environment variables to neo4j which are then read by the new apoc conf mechanisms you added.

[2020-08-10 11:00] #1589 closed

[2020-08-10 11:03] jexp commented on #1604
Any operation in a ternary logic that has null values will possibly return null.

You could filter out null values first: return
`apoc.coll.max([x IN ([NULL]+[NULL]+[1,2,3]+[4,5]+[NULL]) WHERE x IS NOT NULL])`

[2020-08-10 13:04] #1606 closed

[2020-08-11 19:07] jranua commented on #1568
Do you have any updates? As I stated above, I tried the same process with a basic Neo4j 3.5.18 install with just the APOC 3.5.0.12 plugin.

[2020-08-12 17:05] stuartlaurie opened #1617 "Logging for apoc.periodic.*"
## Feature description (Mandatory)
It would be great to have more detail on execution of the apoc.periodic.* - specifically periodic.iterate and probably parallel apocs too, could we generate additional logging to show progress of batches e.g.

Processing [batch x] - [size y]?

Not sure whether we'd benefit start/end messages for each batch (to give information on length of time a batch takes? or

[2020-08-13 15:27] asportn opened #1618 "Neo4j windows service fails to recognize apoc.conf, running from console works"
# Expected Behavior (Mandatory)
apoc.conf settings are loaded when neo4j is started as a Windows service

## Actual Behavior (Mandatory)
apoc.conf settings are not loaded when neo4j is started as Windows service. They are loaded successfully when neo4j is started as a console application.

## How to Reproduce the Problem
Start neo4j as console, test your apoc.conf settings such as jdbc.load aliase

[2020-08-14 13:21] conker84 opened #1619 "Use junit causal cluster extension"
Move the custom implementation to this:
https://github.com/michael-simons/junit-jupiter-causal-cluster-testcontainer-extension

[2020-08-14 19:46] sarmbruster commented on #1586
See https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/4.0/src/main/resources/apoc-config.xml - we already use env variables and system properties. It's documented at https://neo4j.com/docs/labs/apoc/current/config/.
So you could use `-e apoc.initializer.cypher=<some cypher command>`.

Back to your original question: you can use use `call apoc.systemdb.execute(<some ddl string>)` as initi

[2020-08-14 20:29] sarmbruster commented on #1571
Can you please confirm that you have both `apoc-4.1.0.1-core.jar" *and* `apoc-4.1.0.1-all.jar` in your `plugins` folder.

If so remove the `-core` jar since the `-all` variant contains it.

If you have both on the classpath you'll see the error message mentioned since the JVM allows only once to call `setURLStreamHandler`.

[2020-08-17 03:25] tomgeudens commented on #1571
@sarmbruster **Only** apoc-4.1.0.1-all.jar is in the plugins folder. There is labs folder now with apoc-4.1.0.1-core.jar, but that one isn't used and should not interfere.

[2020-08-17 11:39] fabio-510 commented on #1269
The documenation for apoc.toTree is completely absent in conversion functions of the documentation. I am trying to figure out how to include property of relationships in the result, but the documentation is not there. So I don't even know if it's possible.

[2020-08-18 10:48] jexp opened #1622 "Add a traveling salesman procedure to apoc"
linear-reg + randomness see (esp. the [video](https://youtu.be/-zTqtEcnM7A))

https://towardsdatascience.com/animating-the-traveling-salesman-problem-56da20b95b2f

https://github.com/thomasnield/traveling_salesman_demo

apache-common-math3 has a traveling salesman solver

http://home.apache.org/~luc/commons-math-3.6-RC2-site/xref-test/org/apache/commons/math3/ml/neuralnet/sofm/TravellingSalesmanSo

[2020-08-18 10:55] jexp commented on #1622
Transport and Tube articles / examples

https://tbgraph.wordpress.com/2017/08/31/neo4j-london-tube-system-analysis/
https://neo4j.com/blog/going-underground-graphing-pathfinding-london-tube-lines/
http://blog.bruggen.com/2013/11/meet-this-tubular-graph.html

GraphGists

https://portal.graphgist.org/graph_gists/transmilemio-bogota-bus-rapid-service
https://portal.graphgist.org/industries/transporta

[2020-08-20 13:54] #1571 closed

[2020-08-20 13:55] #1592 closed

[2020-08-21 07:32] eastlondoner opened #1625 "apoc periodic repeat should have an option to tolerate errors"
## Feature description (Mandatory)
`CALL apoc.periodic.repeat("RETURN 1/rand()", 60, {tolerateErrors: true})`

## Considered alternatives
Have another periodic task that checks if the desired task still exists and if it doesn't re-creates it

## How this feature can improve the project?
Some periodic tasks may fail intermittently. It's often not desired that the task will just stop running if that

[2020-08-21 07:45] eastlondoner commented on #1625
it might be desirable to have an option for immediately retrying on errors as well

[2020-08-21 07:49] eastlondoner opened #1626 "cypher initialiser option to terminate the jvm"
## Feature description (Mandatory)
In some situations if my initialiser fails to run I'd like to be able to configure the neo4j process to terminate.

If I am using this method to setup my database - possibly even configure users and permissions - I don't want my database to be available if it's not correctly set up - this could lead to logical corruption of my model or other hard-to-figure out er

[2020-08-21 08:42] #1616 closed

[2020-08-21 08:44] sarmbruster commented on #1598
fixed in https://github.com/neo4j-contrib/neo4j-apoc-procedures/pull/1602

[2020-08-21 08:44] #1598 closed

[2020-08-21 08:47] sarmbruster commented on #1586
closing this due to lack of feedback

[2020-08-21 08:47] #1586 closed

[2020-08-21 09:24] eastlondoner opened #1627 "Provide a way to run multi-statement transactions against the system db"
## Feature description (Mandatory)

[code]

runs multiple statements against the system db in a single transaction.

could take a list `["", ""]` of statements or just a semicolon delimited string, whichever is easier or more consistent with other apoc interfaces

## Considered alternatives
use a driver application to run an explicit transaction

## How this feature can improve the project?
Perfor

[2020-08-24 10:05] folterj opened #1629 "Float type not respected in export"
## Float type not respected in export

Numerical values of float type without decimals appear to be automatically converter to integer during export.
Apart of the undesired type change, this will additionally cause failure when trying to import large values.

## Reproducible
[code]

## Expected Behavior (Mandatory)

[code]
(Expected .0)

## Actual Behavior (Mandatory)

[code]
(Missing .0)

### Ver

[2020-08-25 18:02] voutilad opened #1630 "apoc.load.csv doesn't support basic auth"
## Feature description
Loading csv files from basic auth protected webservers doesn't currently work today. The `apoc.load.json` procedures support using urls that follow the basic auth format (e.g. `http://user:password@host/path?query`). Loading remote csv files should work the same way.

## Considered alternatives
No alternatives other than using a different storage back-end.

## How this featu

[2020-08-26 01:38] bburns commented on #1269
FWIW here's the current code - https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/16581f3253f82e75506428dfd2a498346c6bfb1d/core/src/main/java/apoc/convert/Json.java#L73-L114

and tests - https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/16581f3253f82e75506428dfd2a498346c6bfb1d/core/src/test/java/apoc/convert/ConvertJsonTest.java

The tests include some examples of including/excl

[2020-08-26 06:43] eastlondoner opened #1631 "Publish checksums alongside JARS on the releases page"
## Feature description (Mandatory)
Publish a file <jar name>.sha256 alongside published jars.
Releases are here: https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases

## Considered alternatives
Hope that my downloads are OK.

## How this feature can improve the project?
Safer and more secure

[2020-08-26 10:52] typinator opened #1634 "Exported JSON Fails JSON Validation Check"
## Expected Behavior (Mandatory)
Simple test model created with two nodes and two relationships.
![two_nodes_two_relationships](https://user-images.githubusercontent.com/14157480/91293983-c1be4300-e790-11ea-8733-dfa3391d9a8b.png)

JSON file exported validates with no error. Checked against https://jsonchecker.com/ after error shown in local JSON viewing/editing app (JSON Editor - Mac)

## Actual B

[2020-08-26 12:26] jexp commented on #1634
this is mean to be a JSONLINE (JLINE) format where each object is on it's own line to allow for streaming storage and consumption, so that not a single gigantic JSON list needs to be materialized in memory.

[2020-08-26 12:27] jexp commented on #1634
but there should be newlines between the objects that are created, do those show @typinator ?

[2020-08-26 12:28] jexp commented on #1269
@conker84 @mneedham can one of you add docs with these examples?

[2020-08-26 16:56] typinator commented on #1634
@jexp - the apoc-exported file:
[Export_JSON_test_2020-08-25_two_nodes_two_relationships.json.txt](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/5131240/Export_JSON_test_2020-08-25_two_nodes_two_relationships.json.txt)

[2020-08-26 21:44] jexp commented on #1634
Looks good to me at least, one object per line.

http://jsonlines.org/

[2020-08-27 09:26] typinator commented on #1634
I cannot see a JSON validator on jsonlines.org. Have you run this against any JSON validators?

The exported .json fails validation in many tools including:-

* Firefox (just dropping into blank tab)
* JSON Editor and jsonchecker as above
* Oxygen XML Developer

![oxygenXMLDeveloperValidationError](https://user-images.githubusercontent.com/14157480/91422257-d4974d00-e84e-11ea-89af-48ec980a983a.png

[2020-08-27 12:24] jexp commented on #1634
@conker84 I think we could add an optional config option: `format: "json|jsonlines"` which defaults to jsonlines.

[2020-08-27 12:26] jexp commented on #1634
@typinator *each line* is a valid json document here, so if you want to validate them you can either validate them individually
or replace all line endings `"}\n"` with `"},\n"` and insert a '[` before and `]` after to get a json array.

[2020-08-27 13:45] typinator commented on #1634
Is there a tool that validates with JSON lines?

The problem is most tools work at file level so that if transforming or operating on the file - which is the model after all - they throw an error and this then prevents the transformation proceding. If there was a dtd-like url against which  something with JSON lines can be validated this would help. As far as I can see there's nothing in the JSON

[2020-08-28 14:39] vga91 commented on #1449
Hi @nabsabraham, what graph viz tool did you use to test the graph? Thanks.

[2020-08-28 18:04] typinator commented on #1634
Having a 'JSON' file that doesn't validate without further processing isn't good. It would make more sense for the export procedure to be able to create a single valid JSON file that represents the entire model. This would then also validate - hence the option of JSON or JSONline seems the way to go. Similarly the JSON import procedure needs to reflect this as well.

[2020-08-30 20:09] jexp commented on #1630
@conker84 can we make it behave the same way as the other loaders, i.e. go through the same resolution for the URLs?

[2020-08-30 20:20] jexp opened #1639 "add apoc.load.folder("pattern", recursive=true/false) yield url"
Allow to load the "import" folder recursively so if there are multiple nested files in directories you can get them all

so you could then use

[code]

[2020-08-30 20:21] jexp commented on #1639
Should be pretty quick to implement.

[2020-08-30 20:22] jexp opened #1640 "Support options for apoc.export.json for jsonarray/json/jsonlines"
To allow different json formats but still default to json lines,

see #1634

`call apoc.export.json(..., {format:"jsonlines/json/jsonarray"})`

[2020-08-31 09:50] jexp commented on #1639
So that we don't need a local script/server like Adam used here: https://medium.com/neo4j/how-to-create-a-knowledge-graph-from-your-slack-archive-with-neo4j-6a1a1d59a535

[2020-08-31 09:57] jexp commented on #1640
For the "json" option we need to think about if we want to do a json object with `nodes/rels` main entries and then an json array or a nested json object where the keys are the id's of the nodes rels.

[2020-08-31 09:58] jexp commented on #1612
@moxious can you clarify with @conker84 what / if we need to do?

[2020-08-31 09:59] jexp commented on #1612
We also need to add a `apoc.cypher.runSchema()` procedure that has Mode.SCHEMA for operations like this.

[2020-08-31 10:00] jexp commented on #1612
Probably we should also add an alias `apoc.cypher.runWrite` for `apoc.cypher.doIt`

[2020-08-31 12:30] moxious commented on #1612
@jexp I don't know what needs to be done, other than adjusting the mode of the procedure as suggested by @craigtaverner .  Also not sure if this is something you want to do -- in theory any APOC call which can run Cypher needs *every possible permission* that the database could grant to a procedure, since you can do pretty much anything with cypher.

Less clear to me is whether apoc.cypher.doIt sh

[2020-09-02 00:51] su-park commented on #1571
I have same issue with version 4.1.1
Is this issue solved?

# Actual Behavior
As of Neo4j 4.1.1, APOC 4.1.0.0-all, APOC is unable to set the URLStreamHandlerFactory and throws a message when Neo4j starts up.

`APOC couln't set a URLStreamHandlerFactory since some other tool already did this (e.g. tomcat). This means you cannot use s3:// or hdfs:// style URLs in APOC. This is caused by a limitation

[2020-09-02 01:03] su-park opened #1642 "APOC couln't set a URLStreamHandlerFactory since some other tool already did this (e.g. tomcat)."
I have same [issue](https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1571) with version 4.1.1

Is this issue solved?

## Expected Behavior
If there are no other JVMs running, APOC should be able to set a URLStreamHandlerFactory.

## Actual Behavior
As of Neo4j 4.1.1, APOC 4.1.0.0-all, APOC is unable to set the URLStreamHandlerFactory and throws a message when Neo4j starts up.

## Vers

[2020-09-02 09:31] jexp opened #1643 "Add database name to apoc.bolt.*"
Either as url context/path or in config

[2020-09-02 09:36] sarmbruster commented on #1642
How is that report different from #1571 ?

[2020-09-02 09:40] nathanschepers commented on #1642
I'm not sure whether #1571 needs re-opening or not (if so I can comment there), but I am having the same issue. Very simple config, using:

[code]

and setting:

[code]

Then when I `docker-compose up` I'm getting these errors. It only happened after I updated my neo4j image.

[2020-09-02 09:56] sarmbruster opened #1644 "add support for db-specific initializers"
Cypher initializers have been added prior to multi-db. Hence they are run on *all* databases except `system`.

Feature request:

Encode the target db name into the config option, e.g.

[code]
will run the given command on the provided database only. If `<something>` is set, multiple commands for the same database are sorted by their key to have a defined sequence  of operations.

To maintain compa

[2020-09-02 10:10] sarmbruster commented on #1642
#1571 is fixed, but there's not yet a release containing the fix.

[2020-09-03 03:52] su-park commented on #1642
Thank you.

Let me know the status of quo.

I will try version 4 after the fixed version releases.

[2020-09-03 03:52] #1642 closed

[2020-09-03 10:01] jexp opened #1645 "Jars for Excel missing"
A user reported that the jars linked in the docs are not downloading.

![image001](https://user-images.githubusercontent.com/67427/91986913-9ce84380-ed2d-11ea-8a6f-834e64f8e2cd.jpg)

[2020-09-03 10:33] jexp commented on #1645
I tried it out and can't reproduce.
Perhaps it would be good to provide a bundled jar at some point like we do for mongo et.al. /cc @conker84

[2020-09-03 10:33] #1645 closed

[2020-09-03 14:33] albertodelazzari opened #1646 "apoc.load.jdbc inside apoc.periodic.iterate doesn't close jdbc connection properly when killing the transaction"
## Expected Behavior (Mandatory)

If you kill an `apoc.periodic.iterate` that calls an `apoc.load.jdbc` the connection opened by the JDBC driver should be closed

## Actual Behavior (Mandatory)

If you kill an `apoc.periodic.iterate` that calls an `apoc.load.jdbc` the connection opened by the JDBC driver is not closed

## How to Reproduce the Problem

Run an `apoc.periodic.iterate` that calls an `

[2020-09-04 12:36] Mogztter opened #1648 "Espace AsciiDoc attribute references to suppress warnings when building the documentation with Antora"
Currently, when we build the documentation with Antora from https://github.com/neo4j-documentation/docs-refresh, Asciidoctor prints almost 300 warnings because the documentation contains unresolved attribute references.

For reference, the syntax of an attribute reference in AsciiDoc is: `{myattribute}`.

The main issue is that the description of the `apoc.*` procedures frequently contain this syn

[2020-09-04 19:13] cybersam opened #1650 "apoc.get.rels() rejects some ID arrays"
## Expected Behavior (Mandatory)

`apoc.get.rels()` should accept all relationship ID arrays.

## Actual Behavior (Mandatory)

`apoc.get.rels()` fails with this error for some relationship ID arrays:

    Failed to invoke procedure `apoc.get.rels`: Caused by: java.lang.RuntimeException: Can't convert class [J to a Relationship

## How to Reproduce the Problem

### Steps

  1. Execute this query to

[2020-09-05 16:21] tolomaus opened #1652 "apoc.cypher.runTimeboxed throws "DatabaseException: The transaction has been closed""
Hi, I'm migrating my graph db from neo4j 3.5 to 4.1 but it looks like the apoc.cypher.runTimeboxed procedure is broken:
[code]

I used a clean install of neo4j 4.1.1 + apoc 4.1.0.2 on both centos and mac and even spun up a neo4j Aura instance, all giving the same result.

The test only checks if the result count is higher than zero: https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/16581

[2020-09-05 17:05] tolomaus commented on #1233
Looking at the implementation details, could it be that the procedure may return partial results, in case the transaction is terminated while adding the results one by one in the queue?

Any chance that the fix by @sarmbruster could be merged anytime soon?

[2020-09-06 05:56] shayantabrizi opened #1653 "No apoc-all in mvnrepository"
## Expected Behavior (Mandatory)
It seems that "all" version of apoc is not uploaded to mvnrepository. Please upload it so maven users can use it easily.

[2020-09-06 10:13] tolomaus commented on #1652
Some more details I discovered along the way:

It turns out that my actual cypher query still contained some logic that is not supported anymore in neo4j 4.x, like `extract()`. Unfortunately these errors don't surface when the query is wrapped with a runTimeboxed procedure, they just hit the timeout and return an empty result.

Now that these issues are fixed the runTimeboxed seems to work fine ag

[2020-09-06 10:17] tolomaus commented on #1652
see also #1233

[2020-09-06 20:29] bandaja opened #1655 "Failed to invoke procedure `apoc.load.driver - Caused by: org.postgresql.util.PSQLException"
Steps (Mandatory)

1.	Download the JDBC for postgresql:
https://jdbc.postgresql.org/   --> postgresql-42.2.16

2.	Download the APOC Full JAR from:
https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases/tag/4.1.0.2  --> apoc-4.1.0.2-all

3.	Put "apoc-4.1.0.2-all " and JDBC Driver into my "plugins":
$NEO4J_HOME\plugins\

4.	Restart the services.

5.	run the query:
CALL apoc.load.jdbc('jdbc:

[2020-09-06 22:14] jexp commented on #1655
Anything in the logs with more details on the exception?

[2020-09-06 22:40] bandaja commented on #1655
2020-09-06 19:52:30.200+0000 WARN [o.n.k.i.c.VmPauseMonitorComponent] Detected VM stop-the-world pause: {pauseTime=108, gcTime=0, gcCount=0}
2020-09-06 19:56:09.090+0000 ERROR [o.n.k.a.p.GlobalProcedures] Cannot execute SQL statement `SELECT name FROM bandaja.state`.
Error:
An error occurred while setting up the GSS Encoded connection. An error occurred while setting up the GSS Encoded connection.

[2020-09-07 07:13] sarmbruster commented on #1655
Maybe https://www.ibm.com/support/pages/ibm-datastage-jdbc-connector-test-connection-fails-orgpostgresqlutilpsqlexception helps? So please try

[code]

[2020-09-07 07:42] jexp opened #1656 "Add documentation that shows how to use an apoc dependency for a neo4j embedded API test"
So if someone writes an extension / procedure / integration-test that needs apoc, we need to document how they need to setup their java dependencies (maven/gradle) and the code they need to use with neo4j-harness / TestGraphDBService etc. to properly load the apoc procs.

@michael-simons had figure out a while ago how to do that, we can use his example code for that.

[2020-09-07 07:44] jexp commented on #1656
With Embedded:

https://github.com/michael-simons/neo4j-sdn-ogm-tips/blob/master/examples/testing-ogm-against-embedded-with-apoc/src/test/java/org/neo4j/tips/testing/testing_ogm_against_embedded_with_apoc/ApplicationTests.java#L53-L67
[code]

With testcontainers

https://github.com/michael-simons/neo4j-sdn-ogm-tips/blob/master/examples/testing-ogm-against-testcontainers-with-apoc/src/test/java/org

[2020-09-07 12:18] lqst opened #1657 "apoc.schema.assert nodekey throws EquivalentSchemaRuleAlreadyExistsException"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
Expect to be able to assert node key constraint with multiple keys w/o error

## Ac

[2020-09-07 13:27] sarmbruster commented on #1652
Hi @tolomaus ,
what you're seeing is a side effect of some internal change along the way from 3.x -> 4.x: a node, relationship or path instance is now bound to the transaction it originates to. You can no longer reuse such a instance in a different transaction.

`apoc.cypher.runTimeboxed` executes the statement in a separate transaction. This is necessary otherwise the timer could not kill it off.

[2020-09-07 16:47] tolomaus commented on #1652
Hi @sarmbruster thanks for the clear explanation!

The proposed solution feels a bit complicated though, especially if several collections of nodes and/or entities are returned from the query. I guess it may probably also generate a performance hit since all items need to be retrieved again by id.

Luckily for me, as explained above, I only return maps from the timeboxed queries so far and these d

[2020-09-07 23:45] bandaja commented on #1655
Thanks, I tried..

[2020-09-07 23:48] bandaja commented on #1655
As per Sarmbruster suggestion:
Answer
If encryption is not configured, should be disabled by setting JDBC connection parameter gssEncMode=disable.

Base on the information from this document, I can see the encryption is not configured in my Postgresql database:

PostgreSQL GSSAPI Authentication with Kerberos part-3: the status of authentication, encryption and user principal
https://www.highgo.ca/

[2020-09-08 07:05] sarmbruster commented on #1655
So you basically want to have `PGGSSENCMODE=disable` as environment variable being set when Neo4j starts up, right?

I've checked the startup scripts on Neo4j 4.1.1 for Linux - they export any setting from `conf/neo4j.conf` as environment variable. Therefore it should be good enough to amend `PGGSSENCMODE=disable` to `conf/neo4j.conf` and you should be good.

Not sure if we have the same behaviour

[2020-09-08 07:12] sarmbruster commented on #1652
Let me double check if it's possible to prevent using a separate transaction.
Are you willing to test drive a snapshot build?

[2020-09-08 07:14] tolomaus commented on #1652
Sure happy to help

[2020-09-08 18:26] bandaja commented on #1655
Sarmbruster, I tried but same error.
Steps:
1.	I modified the file $NEO4J_HOME\conf\new4j.conf and added at the end the parameter PGGSSENCMODE=disable
2.	I restarted neo4j database
3.	I try to run the script, but I have the same error.
Failed to invoke procedure `apoc.load.jdbc`: Caused by: org.postgresql.util.PSQLException: An error occurred while setting up the GSS Encoded connection.

Any other

[2020-09-08 21:25] bandaja opened #1659 "Failed to invoke procedure “sql-versioner.init - Caused by: java.lang.NoSuchMethodError:"
Steps (Mandatory)
1.	Download the JDBC for postgresql:
https://jdbc.postgresql.org/    postgresql-9.4.1209
2.	Download the Neo4j Versioner CoreJAR from:
neo4j-versioner-sql-0.1.0-SNAPSHOT

3.	Put "neo4j-versioner-sql0-0.1.0-SNAPSHOT " and JDBC Driver into my "plugins":
$NEO4J_HOME\plugins\

4.	Restart the services.
5.	run the query:
CALL sql.versioner.init('postgres', '127.0.0.1', 5432, 'xxxx', '

[2020-09-08 21:41] sarmbruster commented on #1659
Your issue seems not to be related to APOC, maybe file that ticket with `neo4j-versioner` project?
Since it's out of scope I'll close it. If you think it's APOC related, please provide more details and reopen it.

[2020-09-08 21:41] #1659 closed

[2020-09-08 21:42] bandaja commented on #1655
Error in the  $NEO4J_HOME\logs\neo4j  file.

2020-09-08 18:12:15.987+0000 ERROR Cannot execute SQL statement `SELECT name FROM bandaja.state`.
Error:
An error occurred while setting up the GSS Encoded connection. An error occurred while setting up the GSS Encoded connection.
org.postgresql.util.PSQLException: An error occurred while setting up the GSS Encoded connection.
	at org.postgresql.core.v3

[2020-09-08 21:43] bandaja commented on #1659
you are correct! thanks

[2020-09-08 21:45] sarmbruster commented on #1655
My answer above just validated that the *linux* start script exposes all config settings as env variables. Not sure about the windows start script. Alternatively you might also set a global env variable `PGGSSENCMODE=disable` - refer to your OS docs on how to do that.

[2020-09-10 01:06] smithna opened #1660 "Add running total function for collection"
Add apoc.coll.runningTotal(coll) function.

It would return a list containing a running total of the values passed to the function.

You can do this in Cypher, but it's not easy.

The function could be useful for analytics and feature engineering for machine learning.

[2020-09-10 01:15] smithna opened #1661 "Add lead/lag function for collections"
You can currently match an item with the previous or following item in a collection using `apoc.coll.pairs([1,2,3]) YIELD value` and `apoc.coll.pairsMin(coll)`

Extend this idea to allow lead or lag by a specified offset, similar to the way [lead and lag functions work in SQL](https://docs.microsoft.com/en-us/sql/t-sql/functions/lag-transact-sql?view=sql-server-ver15).

`apoc.coll.lead([1,2,3,4],

[2020-09-10 01:18] graphadvantage opened #1662 "apoc.do.when and apoc.do.case Cannot convert java.util.stream.LongPipeline$Head to AnyValue for rel IS null case"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
[code]
should conditionally execute based on presence of relationship

## Actual Be

[2020-09-10 04:50] #1610 closed

[2020-09-10 04:55] #1648 closed

[2020-09-10 06:23] Mogztter commented on #1648
Thanks @mneedham
I think we should also backport this change to 4.0. Should I open a new pull request or do you want to cherry-pick this commit to the 4.0 branch?

[2020-09-10 09:01] #1644 closed

[2020-09-10 13:08] schivmeister commented on #1373
I have spent considerable time behind troubleshooting this, thinking it was PEBKAC. I had successfully used `mapParallel2` on a couple of occasions before, so did not expect further trouble, much to my disappointment.

Of the successful attempts, one was of much smaller data scale. Everyone's querying case is different, but I can generalize one particular use case to that of finding duplicates, wi

[2020-09-11 20:49] ThachNgocTran opened #1665 "Function apoc.refactor.mergeNodes() doesn't merge relationship properties"
## Expected Behavior (Mandatory)

Following the guide [Merge Nodes](https://neo4j.com/labs/apoc/4.1/graph-updates/graph-refactoring/merge-nodes/):

## Actual Behavior (Mandatory)

Relationship properties aren't merged, even if it is specifically indicated.

## How to Reproduce the Problem

### Steps (Mandatory)

Simple graph:

[code]

It will look like this: (all `LINK`s have weight of 1)

![a](ht

[2020-09-15 14:49] ShipatNeo opened #1666 "Expose Transaction Metadata() a statement parameter in apoc.trigger.add()"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Feature description (Mandatory)
Currently the statement parameters for `apoc.trigger.add()` do not expose the Tra

[2020-09-15 15:57] aaron-dsouza commented on #1666
Thanks for logging this Dave. I really want to use this feature to pass metadata from the java driver to my custom procedure via a trigger. I asked this question in the community as well https://community.neo4j.com/t/using-triggers-with-custom-procedures/25370

[2020-09-17 15:34] davidfauth opened #1668 "Add apoc.array.int(size, [fill])"
## Feature description (Mandatory)
Please add the capability to specify the type of array instead of defaulting to string. i.e.
apoc.array.int()

## How this feature can improve the project?
By default, it is created as a string. Some customers have asked for the ability to hint at the data type.

[2020-09-17 15:38] jexp commented on #1668
also for other data types, like float, byte, boolean etc.

apoc.array.int() would create an empty int array.

[2020-09-18 07:53] svenjanko opened #1670 "Allow asynchronous execution"
Allow asynchronous command execution as e.g. in https://github.com/sarmbruster/neo4j-async-action

[2020-09-18 15:12] ShipatNeo opened #1671 "apoc.export.cypher.all() causes "integer is too large" error"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
Export handles datatype correctly so that there are no errors on import.

## Actual

[2020-09-19 02:31] A-Tokyo commented on #286
Facing the same issue here. apoc.map functions don't exist. Also most apoc.collection functions don't exist.

[2020-09-21 15:00] sarmbruster commented on #1371
@mastoj don't know about quoting in WSL2 - can you please play around with adding/removing backslashes?
At the end of the day docker image's entrypoint script should "see" `NEO4J_PLUGINS=["apoc"]`

[2020-09-22 09:39] gabrielmateitoma opened #1674 "First CSV column not accessible if using apoc.load.csv"
The generic problem: give a csv with columns a,b,c,..., when using apoc.load.csv , the yielded map does display it's content of
map:{
"a":"value a",
"b":"value b",
"c":"value c"
}
but when trying to access the value of "a" directly (map['a']), it always returns null

The issue has been confirmed by multiple people: https://community.neo4j.com/t/cannot-access-map-item-from-apoc-load-csv/25576

Wher

[2020-09-22 09:58] mastoj commented on #1371
@sarmbruster. I tried that but can try some more and see if I figure it out.

[2020-09-22 13:24] #1666 closed

[2020-09-23 13:09] conker84 commented on #1643
@jexp this is covered by #1516

[2020-09-24 13:14] #1449 closed

[2020-09-24 13:15] #1671 closed

[2020-09-25 16:58] pelletier197 commented on #1656
The method you specified there does not work with `neo4j 4.1.1+`. Apoc does not provide the core functions in their jar anymore.

[2020-10-01 07:34] conker84 commented on #1630
@voutilad which version of apoc are you using?

[2020-10-01 07:35] conker84 commented on #1629
this should be fixed with #1675

[2020-10-01 07:50] conker84 commented on #1549
I'm closing this as it a behaviour of Postgres:
https://www.postgresql.org/docs/current/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS
Quoting
_Quoting an identifier also makes it case-sensitive, **whereas unquoted names are always folded to lower case**_

[2020-10-01 07:50] #1549 closed

[2020-10-01 07:51] conker84 commented on #1634
I'm closing this as we manage the issue in #1640

[2020-10-01 07:51] #1634 closed

[2020-10-01 07:52] conker84 commented on #1674
@gabrielmateitoma which verson of apoc are you using?

`RETURN apoc.version()`

[2020-10-01 09:07] conker84 commented on #1665
@ThachNgocTran thanks a lot for reporting this. The issue is the same as #1572 and the PR #1605 will fix it, so I'm closing this issue. Feel free to reopen it in case you'll find the bug again in future APOC release!

[2020-10-01 09:07] #1665 closed

[2020-10-01 09:08] conker84 commented on #1660
@smithna can you provide a simple you case with the expected output?

[2020-10-01 09:51] conker84 commented on #1674
@gabrielmateitoma is it possibile having the csv?
I think that the problem is in it because we have tests that cover that

[2020-10-01 10:50] conker84 commented on #1661
hi @smithna correct me if I'm wrong but `lead` and `lag` in SQL are windowed functions that partition data by column and return the index provided in the argument, which is different from what you're asking.
Am I right?

[2020-10-01 13:43] smithna commented on #1661
Hi @conker84. You're correct about how `lead` and `lag` work in SQL. If I have Cypher collections grouped by a value, I think the proposed function would serve the same purpose. Imagine I have a collection of sales by quarter sorted by quarter, and I want to compare this quarter with the same quarter last year. In SQL, I would use `lag` to write that query. I'd like to be able to use an apoc lag f

[2020-10-01 13:44] smithna commented on #1660
Hi @conker84. If I had a collection [1, 5, 2, 7], the output of the running total function would be [1, 6, 8, 15].

[2020-10-01 14:06] conker84 commented on #1661
Ok for now we implemented a procedure and a function both called `apoc.coll.pairWithOffset`:

For:
`RETURN apoc.coll.pairWithOffset([1,2,3,4], 2) AS value`

The output will be:
`[[1,3],[2,4],[3,null],[4,null]]`

For:
`CALL apoc.coll.pairWithOffset([1,2,3,4], 2)`

The output will be:

[code]

If works also with negative numbers so we cover the two use cases that you highlighted

[2020-10-01 14:07] conker84 commented on #1661
Please look at the PR #1678

[2020-10-01 14:10] smithna commented on #1661
That's exactly what I was looking for. I like that the naming convention is similar to the other pair function too. Thanks!

[2020-10-01 14:10] #1661 closed

[2020-10-02 08:10] typinator commented on #1640
Whatever the outcome can you please publish the defined schema sto support integrators?

[2020-10-02 10:58] voutilad commented on #1630
It was a 4.x version. Not sure which.

[2020-10-04 21:33] terryf82 opened #1679 "Unable to remove custom function (Neo4j 3.5 / Aura)"
## Expected Behavior

To have a custom function removed from the server.

## Actual Behavior

The following error is returned:

[code]

## How to Reproduce the Problem

1. Declare a custom function, and confirm it exists:

[code]

2.  attempt to remove the function:

[code]

### Versions

  - Neo4j: 3.5 (Aura cluster)

cc @jexp

[2020-10-06 12:48] conker84 commented on #1679
@terryf82 can you check the apoc version?
just type:
`RETURN apoc.version()`

[2020-10-06 16:29] jakewins commented on #1679
Proposed fix: https://github.com/neo4j-contrib/neo4j-apoc-procedures/pull/1682

[2020-10-06 23:10] terryf82 commented on #1679
@conker84

"3.5.0.9"

[2020-10-08 11:28] #1629 closed

[2020-10-08 13:17] #1587 closed

[2020-10-08 14:19] brechtarnou opened #1683 "Azure Container Instance APOC library"
Hi everyone,

I want to install the APOC plugin, however my neo4j database is running on a Azure Container Instance via a docker image.
How can I install the APOC plugin in this situation?

Kind regards,
Brecht

[2020-10-08 14:19] Dcanzano opened #1684 "document what log is written to on apoc.log*"
## Expected Behavior (Mandatory)
moreso a documentation issue but can we update https://neo4j.com/labs/apoc/4.0/overview/apoc.log/  and whereever else these procs are referenced to include detail that the 'log' in question is the Neo4j logs\debug.log and that although the stored proc might report success the conf/neo4j.conf describes the types of messages which are eligible for logging through par

[2020-10-08 23:17] InverseFalcon opened #1685 "apoc.convert.toTree() returns incorrect results in 4.1.x.x"
## Expected Behavior (Mandatory)
After passing in a collection of paths, `apoc.convert.toTree()` should display a tree populated by all elements found within those paths.

## Actual Behavior (Mandatory)
The tree results seem to only be from a single path. It does not return to the depths explored in the paths, and most of the data that should be in the tree is missing.

## How to Reproduce the Pro

[2020-10-11 01:20] jexp opened #1686 "graphml import doesn't create the default relationship-type anymore"
it instead uses an attribute of the relationship (in this case the weight) as rel-type.

[code]

[2020-10-12 15:03] conker84 opened #1688 "Travis on branch 4.1 fails silently"
Travis on branch 4.1 fails silently

[2020-10-12 22:16] beebs-systap opened #1689 "Add the ability to export a graph (graphml, JSON, or CSV) directly to an S3 bucket location"
## Feature description (Mandatory)
Add the ability to use an S3 URL as the destination for the APOC export procedure with CSV, JSON, and graphml.

## Considered alternatives
Currently, you need to manually sending the output of the export procedure into S3. This would make it an option for a single procedure call.

## How this feature can improve the project?
This will make it easier to use with S

[2020-10-13 08:07] benjamin-rood opened #1691 "Document (and list) which APOC procs start their own transaction"
## Feature description (Mandatory)
When recently trying to make use of `apoc.uuid.install` inside a transaction, it caused the client connection to the database to hang (no error message).

![image](https://user-images.githubusercontent.com/10102132/95832723-5aaa1d00-0d43-11eb-929f-6bea4f062f2f.png)

As described above, @jexp was able to inform me a couple of days later that the procedure starts i

[2020-10-14 07:37] MartinFix opened #1695 "Apoc.cypher.runFile not closing file handle"
I'm using Neo4J desktop 1.3.8 on Neo4J 4.1.1 Enterprise with a local database on a windows NTFS formatted SSD with APOC 4.1.0.2. Running against OpenJDK 11.

When running Apoc.cypher.runFile() it opens and runs all statements as expected, but keeps a file lock on the file so that I cannot delete or rename the file as long as the Neo4J database is running. So I have to stop the database and re-star

[2020-10-14 19:02] voutilad opened #1696 "PowerShell with Docker requires some special usage for NEO4JLABS_PLUGINS installation of APOC"
This might be too niche, but thoughts on adding a callout about the NEO4JLABS_PLUGINS setting when using Docker in PowerShell on Windows? Just bumped into this and wasted 20 minutes of my life...PowerShell is known for doing [silly things](https://stackoverflow.com/questions/6714165/powershell-stripping-double-quotes-from-command-line-arguments) with quotes and doesn't act like a typical shell in

[2020-10-15 05:24] canbax commented on #1233
I have the same problem. Why the code is not merged still? It's been more than a year.

[2020-10-16 13:05] Basti82b opened #1697 "GraphML export issue: type of "labels" is missing"
## Expected Behavior
`call apoc.export.graphml.all("Matches.graphml",{useTypes:true})`

produces a GraphML file that contains all types.

## Actual Behavior
The GraphML file contains all types except for "labels".
Instead, there's an unused line:

`<key id="label" for="node" attr.name="label" attr.type="string"/>`

I have to change it to plural:

`<key id="labels" for="node" attr.name="labels" att

[2020-10-17 12:22] Basti82b commented on #1697
Duplicate of #1449. Seems to be fixed with #1638.

[2020-10-17 12:22] #1697 closed

[2020-10-22 07:59] nrouyer opened #1699 "Missing double quote in apoc.load.html documentation"
## Expected Behavior (Mandatory)
In the documentation for **apoc.load.html**, there should be
`CALL apoc.load.html("https://en.wikipedia.org/",{metadata:"meta", h2:"h2"}, {charset: "UTF-8"})`

## Actual Behavior (Mandatory)
Instead, there is:
`CALL apoc.load.html("https://en.wikipedia.org/",{metadata:"meta", h2:"h2"}, {charset: "UTF-8})`

## How to Reproduce the Problem

### Steps (Mandatory)

  1

[2020-10-22 13:10] #1699 closed

[2020-10-22 13:12] #1650 closed

[2020-10-23 23:05] graphadvantage commented on #1615
Hi Michael - yes I'll see if I can work something up for you example data.  The basic idea is to be able to search across fabric shards for an equivalent node, and then merge these equivalent nodes during the union step into a meaningful subgraph.  Currently equivalent nodes are treated as unrelated nodes in the union output.

[2020-10-26 09:39] conker84 commented on #1639
@jexp @mneedham
I have the idea to create also a second procedure `apoc.load.folder.async(<pattern>, <cypher>, <conf>)` that basically gets activated every time there is a file system change so in that case the cypher query gets invoked.
We can easily leverage the [WatchService](https://docs.oracle.com/javase/8/docs/api/java/nio/file/WatchService.html) of java in order to do that; providing a set

[2020-10-26 09:43] mneedham commented on #1639
Sounds like a good idea - would `apoc.load.folder.async` create a schedule task/job that gets tracked by the triggers stuff, or is it a separate thing? https://neo4j.com/labs/apoc/4.1/background-operations/triggers/

[2020-10-26 09:47] conker84 commented on #1639
We need to create a background thread in order to manage the `WatchService` and we can use the same approach of triggers in order to manage its lifecycle but, yes it's a separate thing.

[2020-10-27 16:05] wgtmpeters commented on #1653
Any indication if this will be added at some point?

[2020-10-29 06:41] Kagemusha-san opened #1702 "apoc.load.jsonArray: accessing properties of values produces type mismatch error on version 4.1.x"
## Expected Behavior (Mandatory)
Using apoc.load.jsonArray to read a JSON should allow to access properties of returned values.

## Actual Behavior (Mandatory)
A type mismatch error is thrown.

## How to Reproduce the Problem
We use apoc.load.jsonArray to process the result of an API call. For reproduction purposes, following JSON can be used:
`{
  "BusinessData": [
    {
      "prop1": "\\structu

[2020-10-30 08:28] kimcs opened #1703 "apoc.schema.assert drops and recreates indexes that already exists"
## Expected Behavior (Mandatory)
Expects action to be "KEPT" when running `CALL apoc.schema.assert({AnyLabel: ["someField"]}, {}, true) YIELD label, key, keys, unique, action` on a database where the given index already exists.

## Actual Behavior (Mandatory)
Running `CALL apoc.schema.assert({AnyLabel: ["someField"]}, {}, true) YIELD label, key, keys, unique, action` where the given index already

[2020-11-02 13:19] edacker opened #1704 "Invalid apoc export graphml format"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
valid graphML exported
![image](https://user-images.githubusercontent.com/57496775/

[2020-11-02 17:38] Phoosha opened #1705 "Cypher export leaves property key with special character (here: $) unquoted"
## Expected Behavior

When a node has a property e.g. set to `$lock = true`, exporting to cypher (using the format `cypher-shell`) should create valid cypher, which actually can be imported (using `cypher-shell`).

More specifically, I'd probably expect one of the following:
1. Identifiers containing special characters are quoted only if needed, e.g. `$lock` is quoted but not `name`.
2. All identi

[2020-11-03 09:58] Phoosha opened #1706 "Cypher export outputs unsatisfiable filter for relationships with multiple unique constraints via multiple labels"
There's an inconsistency between two methods used to generate the `MATCH` clauses for the end nodes of relationships:
1. https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/12f66b76a296094feeb3021e1ce88bc09dd6a5d7/core/src/main/java/apoc/export/cypher/formatter/AbstractCypherFormatter.java#L434
2. https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/12f66b76a296094feeb3021e1ce88bc09

[2020-11-04 16:30] barakharizima commented on #1343
Experiencing the same, also using APOC triggers
@jphoulchand did you manage to resolve it?

[2020-11-04 17:20] sarmbruster commented on #1343
it seems you have an after trigger in place. What statement are you running there?

[2020-11-04 17:52] barakharizima commented on #1343
Hey @sarmbruster,
I am running the following:
```CALL apoc.trigger.add('created-at-timestamp','UNWIND $createdNodes AS node SET node.createdAt = timestamp()', {phase:'before'});```

[2020-11-04 18:03] barakharizima commented on #1343
This is what I'm seeing in the debug logs:
[code]

[2020-11-05 10:28] conker84 commented on #1695
@MartinFix sorry for the late reply can you please try with this jar? Just unzip it inside `<NEO4J_HOME>/plugin` dir (don't forget to remove the "old" one)
[apoc-4.1.0.3-all.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/5493609/apoc-4.1.0.3-all.jar.zip)

Looking forward to hearing from you!

[2020-11-05 11:01] conker84 commented on #1695
@MartinFix I did some improvements please test this one:
[apoc-4.1.0.3-all.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/5493834/apoc-4.1.0.3-all.jar.zip)

[2020-11-05 11:08] conker84 commented on #1695
@MartinFix please use this one:
[apoc-4.1.0.3-all.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/5493865/apoc-4.1.0.3-all.jar.zip)

[2020-11-05 12:51] #1643 closed

[2020-11-05 12:52] #1604 closed

[2020-11-05 17:26] MartinFix commented on #1695
Thanks for the file. My system has upgraded to Neo4j desktop 1.3.10 and 4.1.3 Enterprise in the meantime.
When I unpack the file you attached in the /plugins directory, the database is not coming up any more (see attached log file).
I did rename the original apoc-4.1.0.2.jar to _apoc-4.1.0.2.jar and renamed your file to apoc-4.1.0.2.jar.
Even when reverting these file changes, the database does no

[2020-11-06 10:37] conker84 commented on #1703
@kimcs I think that the problem is in the third paramer which is `dropExisting`, you should use `false` instead of `true`, please lemme know if it works

[2020-11-06 10:53] conker84 commented on #1702
@Kagemusha-san you must use `apoc.load.json` because your json is not a json array, a JSON array is a structure like this:

`[{"foo": "bar", "baz": 1}, {"foo": "foo", "baz": 10}]`

[2020-11-06 10:53] #1702 closed

[2020-11-06 11:03] Kagemusha-san commented on #1702
You're right that the whole json is not an array but in point 2, I explicitly define the path BusinessData and BusinessData is an array
`[
    {
      "prop1": "\\structure_2018\\2",
      "prop2": "\\structure_2018\\1\\1"
    },
    {
      "prop1": "\\structure_2018\\3",
      "prop2": "\\structure_2018\\1\\1"
    },
    {
      "prop1": "\\structure_2018\\4",
      "prop2": "\\structure_2018\\1

[2020-11-06 11:50] conker84 commented on #1695
you must have just one `apoc*.jar` in your `plugin` dir please move the `old` plugin into another dir

[2020-11-08 02:00] voutilad opened #1711 "Invoking apoc.convert.toJson with a Node causes StackOverflow"
I was experimenting (and hoping) to be able to take a Node reference and turn it into a JSON Object as a string using `apoc.convert.toJson`. However, when trying it, it causes the query to fail with an error:

[code]

I've noticed this in Aura where `apoc.version()` reports `4.2.0-rc02` but have checked that it also happens with `4.1.0.2`.

I'd expect if a node isn't a supported type, it should pr

[2020-11-08 13:32] jexp commented on #1711
Goid point. It only supports datastructures like maps and lists bc its meant to convert for/from properties

Export.json can deal with nodes/rels/paths

So properties (n) works as input or
Or n {.*, id:id(n), labels:labels(n)}

[2020-11-09 07:10] MartinFix commented on #1695
I see. My mistake. Did try this and it worked fine now. File handle is being closed as expected. Thanks for getting this fixed ;-)

[2020-11-09 11:23] danstarns opened #1712 "apoc.util.validate 'sister function' apoc.util.validatePredicate"
## Feature description
Internally at neo4j, we are working on implementing Auth for a new GraphQL library. We are using `apoc.util.validate` to enforce fine-grained authorization rules however we have come across a roadblock where this procedure cant be used in predicates. This feature request is asking for a new UserFunction `apoc.util.validatePredicate`. The function should be very similar to `a

[2020-11-10 15:23] peey opened #1714 "Weirdness around custom functions with node return types"
## How to Reproduce

1. Set up test nodes
[code]
2. Declare a simple function that returns a node
(a) `CALL apoc.custom.declareFunction('n(val :: INTEGER) :: NODE ', "MATCH (t:Target {value : $val}) RETURN t")` or (b) `CALL apoc.custom.asFunction('n', "MATCH (t:Target {value : $val}) RETURN t", 'NODE', [['val', 'INTEGER']])`

3. Call the function `RETURN custom.n(2)`. Go to the "table" view and no

[2020-11-10 16:49] peey opened #1715 "When registering custom function `a.b.c` to access via `custom.a.b.c`, it instead registers at `custom.c`"
## How to Reproduce the Problem
[code]

![image](https://user-images.githubusercontent.com/4688870/98704428-a7b0fb80-23a2-11eb-9b0d-e85e838c8dc1.png)

![image](https://user-images.githubusercontent.com/4688870/98704741-00809400-23a3-11eb-86a5-b5210f60b7bb.png)

### Versions

  - OS: docker (official `neo4j:latest` image) on ubuntu 20.04
  - Neo4j: 4.1.13
  - Neo4j-Apoc: 4.1.0.2

[2020-11-10 17:49] utnaf commented on #1662
Hi @graphadvantage,
I tried the scenario with Neo4j 3.5.18 and APOC 3.5.0.12 and the Movie Graph but wasn't able to reproduce the issue. Are there any additional information you can provide?

[2020-11-11 14:37] vga91 commented on #1585
Closed via f292b48d9b881add585b8a9c6276c40e2e6938e0

[2020-11-11 14:41] #1585 closed

[2020-11-12 14:10] orthogonal3 opened #1719 "CVE reported within a sub-dependency"
## Expected Behavior

No reported security vulnerabilities on code or dependencies for the APOC plugin.

## Actual Behavior

Jetty is included as a dependency within SchemaCrawler, which itself is included within APOC.
Jetty 9.4.31.v20200723 has a reported vulnerability, [CVE-2020-27216](https://nvd.nist.gov/vuln/detail/CVE-2020-27216).

## How to Reproduce the Problem

Problem is within the build

[2020-11-13 00:27] thekidconnect commented on #206
getting the same error on `neo4j @ 4.1-latest`

`docker exec neo4j cypher-shell -u neo4j -p admin "CALL apoc.import.graphml('profile.graphml', {})"
Failed to invoke procedure `apoc.import.graphml`: Caused by: java.util.NoSuchElementException: ParseError at [row,col]:[1,1]
Message: Premature end of file.`

did they ever fix this?

[2020-11-16 13:25] conker84 commented on #1719
@orthogonal3 I tried to get the full dependency tree gut I got any dependency related to Jetty for Schema Crawler, can you please share more info about your conclusion?

[2020-11-16 13:27] conker84 commented on #1719
I also looked into the dependency tree for Jetty `9.4.31` but I didn't find anything, any more info is highly appreciated!

[2020-11-17 09:10] #1712 closed

[2020-11-17 12:02] conker84 commented on #1719
Getting the gradle dep tree we have this:
[deps.log](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/5553178/deps.log)

Hifghlighting the part in our interest:
[code]

There are some of deps in Neo4j so I guess that is better open an issue inside the Neo4j repo if version `9.4.17.v20190418` is affected from the same CVE.
However in APOC we have a dependency:
`testCompile group: 'org.e

[2020-11-19 05:38] sangee14 opened #1722 "Couldn't install APOC in Neo4j Desktop"
I am using Neo4j community edition. I couldn't install APOC plugin. APOC plugin install button is disabled.

- Neo4j Desktop version: neo4j-desktop-1.3.11-x86_64.AppImage
- Neo4j version: neo4j-community-4.1.4
- OS: Linux (Ubuntu 20.04)

[![APOC][1]][1]

I followed the installation steps for APOC,

1. Downloaded APOC jar from [this][2] link (version: `apoc-4.2.0.0-all.jar`) and placed it in plugin

[2020-11-19 09:40] ckoenigs opened #1723 "Problem importing graphml which was exported graphml from apoc"
## Expected Behavior (Mandatory)

Able to import large graphml files into Neo4j.

## Actual Behavior (Mandatory)
It throws this error:
Failed to invoke procedure `apoc.import.graphml`: Caused by: org.neo4j.kernel.impl.util.collection.MemoryAllocationLimitException: Can't allocate 524288 bytes due to exceeding memory limit; used=2147028992, max=2147483648

However, a student of mine did the same cy

[2020-11-19 14:10] #1695 closed

[2020-11-19 14:13] #1705 closed

[2020-11-23 14:21] mneedham commented on #1722
Hey,

I don't think that error is usually a reason for the server failing to start.

Given you are using a 4.1 database, you'll want to use the latest 4.1 version of APOC (https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases/tag/4.1.0.4).

There are sometimes lower-level changes to the database in between point versions (e.g. 4.1 -> 4.2), which mean that 4.2 APOC won't work with 4.1 Neo

[2020-11-23 14:36] malencv opened #1725 "parseFloat(), parseInt(), format() seems to ignore locale parameter"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
According to the docs (
RETURN apoc.number.parseFloat('12.345,67', '#,##0.00;(#,##0

[2020-11-23 22:52] PoshAlpaca opened #1728 "Cypher file generated by apoc.export.cypher.all causes "Failed to evaluate expression" error in cypher-shell"
## Expected Behavior (Mandatory)
The cypher file gets executed without any errors by cypher-shell and the backed up data is properly recreated.

## Actual Behavior (Mandatory)
Cypher-shell returns a "Failed to evaluate expression" error and exits.

## How to Reproduce the Problem

The error occurs whenever cypher-shell encounters a `:param` line that contains a function like `datetime('2020-11-23T

[2020-11-25 15:48] philastrophist opened #1729 "Please include #1559 in a non-deadend release"
According to  @augonis, it seems that #1559 has been merged into a branch which has not been merged into a release. Can the next release incorporate this patch since it fixes a problem with duplicate procedure names.

[2020-11-26 10:06] #1640 closed

[2020-11-26 10:09] #1706 closed

[2020-11-26 10:25] #1387 closed

[2020-11-26 10:25] #1572 closed

[2020-11-26 11:40] #1689 closed

[2020-11-26 15:21] conker84 commented on #1728
@PoshAlpaca thank you for reaching us, can you share a simple dataset that allows us to reproduce the problem?

[2020-11-26 15:25] conker84 opened #1730 "Move CI system to GitHub Actions"
As Travis has become progressively slow makes sense to evaluate moving the CI to GH Actions that can be used also for automatically cherry-picking merged PR into all branches and creating new PRs for them without doing any more this operation manually

[2020-11-26 21:40] PoshAlpaca commented on #1728
This occurs when exporting a graph of any size as long as there is a property somewhere with the `DateTime` type. So starting from an empty graph, creating a node with `CREATE (:TestNode {created: datetime()})` and then exporting with `CALL apoc.export.cypher.all('backup.cypher', {useOptimizations: {type: 'UNWIND_BATCH_PARAMS', unwindBatchSize:100}})` should produce the following cypher script tha

[2020-11-26 21:41] iNViTiON opened #1731 "afterAsync phase trigger from 4.0~4.1 to 4.2 and 4.3"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
APOC 4.2.0.0 and 4.3.0-rc01 was missing afterAsync that once implement in 4.0.0.18

[2020-12-01 19:44] ivangreene commented on #1731
The description of this issue isn't very clear, but I'm also experiencing afterAsync handling not working.
Here is a simple procedure to test out:
[code]
After installing, create any node, and it will not log. Change phase to `after` and you can observe that the trigger is called when a node is created

[2020-12-02 19:18] ivangreene opened #1736 "afterAsync Triggers produce NullPointerException"
## Expected Behavior (Mandatory)
afterAsync triggers should not produce an exception when many operations are happening

## Actual Behavior (Mandatory)
afterAsync triggers can sometimes throw NullPointerException when a lot of operations are happening at once. This happens more frequently when more than one trigger exists

## How to Reproduce the Problem

### Simple Dataset (where it's possibile)

[2020-12-03 12:42] jexp commented on #1670
Isn't that what `apoc.periodic.submit` offers?

[2020-12-03 12:44] jexp commented on #1674
@gabrielmateitoma please also share the raw file with the issue.

[2020-12-03 13:08] gabrielmateitoma commented on #1674
~search in progress~

[2020-12-03 16:47] kraney opened #1744 "Stored procedure error on neo4j restart"
## Expected Behavior (Mandatory)

No stack trace on database restart

## Actual Behavior (Mandatory)

After creating a stored procedure, when I restart the DB I get this error:
[code]

I first thought it was related to having a 'dot' in the name because the name reported is incorrect in this case, but I changed to underscores and it still occurs.

## How to Reproduce the Problem

### Simple Datase

[2020-12-04 15:47] #1555 closed

[2020-12-04 15:48] #1199 closed

[2020-12-04 15:49] #1448 closed

[2020-12-04 15:49] #1272 closed

[2020-12-04 15:53] #1736 closed

[2020-12-04 16:37] #1161 closed

[2020-12-04 16:39] #1686 closed

[2020-12-07 11:18] pecollet opened #1747 "apoc.generate.er fails with IndexOutOfBoundsException"
## Expected Behavior (Mandatory)
apoc.generate.er goes through and generates the graph

## Actual Behavior (Mandatory)
* nodes are created, but the procedure fails before creating any relationship.
* Neo.ClientError.Procedure.ProcedureCallFailed :
"Failed to invoke procedure `apoc.generate.er`: Caused by: java.lang.IndexOutOfBoundsException: Index -559948134 out of bounds for length 510000"

## Ho

[2020-12-07 11:26] #1630 closed

[2020-12-07 11:30] mneedham commented on #1683
You can install it using the `NEO4JLABS_PLUGINS` environment variable, as described in https://neo4j.com/labs/apoc/4.1/installation/#docker

[2020-12-07 16:35] gabrielmateitoma commented on #1674
@jexp
Sorry, I could not find the original file.
I've also tried with the values which have been added above, as a new CSV, and with the latest version of Neo4j / APOC / Desktop, etc, seems to running ok.
There is still an AWS on which I have not checked yet, but I guess we can close the issue for now as "unable to reproduce".
Regards,
Gab

[2020-12-07 18:20] pecollet commented on #1747
in ErdosRenyiRelationshipGenerator :
[code]
The integer multiplication of numberOfNodes can silently overflow and produce negative values, causing the code to branch into `doGenerateEdgesWithOmitList()` and then access negative list indexes.
=> convert to long before multiplying

The bug actually affects calls to the procedure with numberOfNodes such that `numberOfNodes * (numberOfNodes-1)` overfl

[2020-12-08 14:49] kvegter opened #1749 "In version 4 of the database there is property "dbms.directories.neo4j_home" without "unsupported." prefix"
In FileUtils.getLogDirectory() the home dir of the neo4j installation is retrieved via the database configuration properties. It uses the 'home directory' as a fail save if the dbms.directories.logs value is empty.

It uses the property key "unsupported.dbms.directories.neo4j_home", but in Neo4j version 4 this is replaced by "dbms.directories.neo4j_home".

something like this would work
[code]

[2020-12-08 19:59] stuartlaurie opened #1750 "Document apoc.all required for apoc.nlp"
When trying to set up apoc.nlp it isn't obvious when reading the following pages, that apoc.all is required:
https://neo4j.com/labs/apoc/4.1/nlp/

This is clearly documented on the main docs page below, would be great to reference to avoid confusion
https://neo4j.com/labs/apoc/4.1/overview/apoc.nlp/

[2020-12-10 14:16] conker84 commented on #1301
@stuartlaurie this solve the problem:
https://medium.com/neo4j/new-neo4j-4-0-features-copy-a-database-and-more-c51d1744a7e3

[2020-12-11 15:06] gabrielmateitoma commented on #1674
Ok, found it (attached). It only contains one line, but even for this line, that column, when referenced by the column name, is null.
Neo4j 4.1.1 Enterprise, APOC 4.1.0.2
[taxonomy_min.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/5679730/taxonomy_min.zip)
![image](https://user-images.githubusercontent.com/1407650/101916122-cf27fd80-3bc6-11eb-8647-bf4fec949fc3.png)
![image](htt

[2020-12-11 15:39] jexp opened #1753 "add apoc.rel.startNodeId() apoc.rel.endNodeId() for real and virtual relationships"
see `apoc.rel.type()`

https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/4.1/core/src/main/java/apoc/nodes/Nodes.java#L426

[2020-12-14 08:13] tbwiss opened #1754 "OutOfMemoryError for apoc.meta.nodeTypeProperties and apoc.meta.relTypeProperties"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
nodeTypeProperties and relTypeProperties functions execute without an error.

## Ac

[2020-12-21 13:47] cn007b opened #1757 "Missing apoc.export.csv.all."
Guidelines
There is function [apoc.export.csv.all](https://neo4j.com/labs/apoc/4.1/overview/apoc.export/apoc.export.csv.all/) but no function [apoc.import.csv.all](https://neo4j.com/labs/apoc/4.1/overview/apoc.import/apoc.import.csv/),
and it's not clear how to import CSV file generated by func apoc.export.csv.all.

Neo4j Version: 4.1.1
API: Docker
Source: [This page](https://github.com/neo4j/neo4

[2021-01-04 09:37] nioertel opened #1758 "APOC 4.2.x uses unsupported neo4j-java-driver version"
## Expected Behavior (Mandatory)
APOC 4.2.x depends on neo4j-java-driver that is officially supported to run with Neo4j 4.2.x.

## Actual Behavior (Mandatory)
APOC 4.2.x depends on neo4j-java-driver 4.0.0 which according to [official docs](https://github.com/neo4j/neo4j-java-driver/wiki) only supports Neo4j 3.5 and 4.0.

[2021-01-04 11:04] nioertel commented on #1758
Hope my PR works for you and there can maybe bee a 4.2.0.1 soon :).

[2021-01-09 09:19] mithundas79 opened #1761 "Wiered behavior of apoc.temporal.format"
## Expected Behavior (Mandatory)
 ```return apoc.temporal.format(datetime("2020-12-27"), "YYYY-MM-dd HH:mm:ss")```
 Should return result as
 ```2020-12-27 00:00:00```

## Actual Behavior (Mandatory)
But it is returning
```2021-12-27 00:00:00```

N.B => it happens for dates of
 * Decmeber 27 to 31 for year 2020 and 2021
 * December 29 to 31 for year 2019, 2018

## How to Reproduce the Problem

RUN

[2021-01-10 08:43] mithundas79 commented on #1761
Well this is not a bug but a misunderstanding as we found out.
From here https://docs.oracle.com/javase/8/docs/api/java/time/format/DateTimeFormatter.html#patterns in that issue,

it seems we should use
[code]
instead of
[code]

[2021-01-10 08:43] #1761 closed

[2021-01-12 15:08] igor-iurchenko-gl commented on #1657
The same issue.
Neo4j 4.1.5.
Neo4j-Apoc: 4.1.0.4

[2021-01-12 23:21] cj2001 opened #1762 "Broken link in APOC import docs"
## Expected Behavior (Mandatory)

The APOC docs for [Import CSV](https://neo4j.com/labs/apoc/4.1/import/import-csv/) have two broken links to the prescribed format of the .csv files.

## Actual Behavior (Mandatory)

If you click on `Neo4j import tool’s header format` at the top of the page it links to [`https://neo4j.com/docs/operations-manual/current/tools/import/file-header-format/`](https://neo

[2021-01-13 14:59] #1762 closed

[2021-01-14 12:28] jexp commented on #1731
@mneedham missing cherry-pick

[2021-01-14 12:31] jexp commented on #1711
@conker84 perhpas we can use the same json format that we use in apoc.export.json?

[2021-01-14 12:33] #1722 closed

[2021-01-14 12:34] jexp commented on #1719
The neo4j dependency is "provided" so not part of the apoc package/build ?

[2021-01-14 12:34] #1719 closed

[2021-01-14 12:41] jexp commented on #1685
we can just keep a set of nodes in the path (parents) and if a child appears that's already been output as a parent, we just skip it.

[2021-01-14 12:45] jexp commented on #1660
so it takes the numeric values that are passed in and then returns

[row1, row1+row2, row1+row2+row3]

or
rows = [row0, rows[idx-1] + rowN]
if we keep an arraylist

`totals.add(totals.get(totals.size()-1) + current)`

and then one can unwind it later to get rows back

[2021-01-14 12:50] jexp commented on #1646
so basically the driving stream is not exhausted so the streams' onClose() is not called?

Perhaps there is a a method on the stream that we can call to release it and it's resources.

[2021-01-14 12:53] #1747 closed

[2021-01-14 13:21] jexp opened #1765 "apoc.refactor.mergeNodes option to not create self-relationships"

[2021-01-14 14:21] #1608 closed

[2021-01-14 14:40] #163 closed

[2021-01-14 14:40] conker84 commented on #163
This was fixed by Cypher Procedures

[2021-01-14 14:53] conker84 commented on #150
We close this as for algos we have a different library

[2021-01-14 14:53] #150 closed

[2021-01-14 14:53] conker84 commented on #134
We close this as for algos we have a different library

[2021-01-14 14:53] #134 closed

[2021-01-14 14:55] conker84 commented on #145
We have `apoc.graph.*` procedures

[2021-01-14 14:55] #145 closed

[2021-01-14 14:57] conker84 commented on #136
this is `apoc.periodic.repeat`

[2021-01-14 14:57] #136 closed

[2021-01-14 15:01] conker84 commented on #109
it's `apoc.graph.*`

[2021-01-14 15:01] #109 closed

[2021-01-14 22:26] moxious commented on #1754
I believe user needs to increase heap, or otherwise has a lot of heap contention at the time.  This procedure doesn't use much memory, but the outcome reported is clearly possible if the machine is under a lot of memory pressure at the time, or if sampling options are used that are really aggressive.

Can you provide:

- How much heap does your server have?
- What else is running at the time?
- Wh

[2021-01-15 10:09] vga91 commented on #1728
@PoshAlpaca the bug seems to be caused by `cypher-shell`. I have opened a related issue https://github.com/neo4j/cypher-shell/issues/286

[2021-01-15 22:08] romandogadin opened #1767 "Unable to load MSSQL JDBC driver"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
Expecting call apoc.load.driver("com.microsoft.sqlserver.jdbc.SQLServerDriver") to

[2021-01-18 16:14] conker84 commented on #1767
@romandogadin can you just try to call the `apoc.load.jdbc` with the proper connection string and report back?

[2021-01-18 16:15] conker84 commented on #1758
closed via 7ed0c27

[2021-01-18 16:15] #1758 closed

[2021-01-18 16:15] conker84 commented on #1754
@tbwiss can you please answer to @moxious questions?

[2021-01-18 16:19] meiamsome opened #1768 "Nested apoc.periodic.iterate calls deadlock when {parallel: false}"
## Expected Behavior (Mandatory)
The provided query finishes.

## Actual Behavior (Mandatory)
The query deadlocks, and is unkillable. It also means any other calls to `apoc.periodic.iterate` with `parallel: false` will also now deadlock.

## How to Reproduce the Problem
Run the following query:
[code]

## Specifications (Mandatory)

Currently used versions

### Versions
  - OS: Mac OS X
  - Neo4j:

[2021-01-18 16:52] conker84 commented on #1744
related to #1714

[2021-01-18 21:52] meiamsome opened #1769 "Concurrency parameter to apoc.periodic.iterate is ignored"
## Expected Behavior (Mandatory)
For the cypher provided, the statements should be executed sequentially for a total execution time of approximately 5 seconds.

## Actual Behavior (Mandatory)
The cypher executes all steps in parallel regardless of the `concurrency` parameter and completes in approximately 1 second.

## How to Reproduce the Problem

The `apoc.jobs.pool.num_threads` option must be s

[2021-01-19 07:21] tbwiss commented on #1754
Thanks for replying @moxious and @conker84
I was running the procedure locally on my Mac (32 GB RAM, the max heap size is 8192 MB, the initial heap size is 512 MB) and the following applications where running while I ran the commands in Neo4j Browser: VSCode, Chrome, Neo4j Desktop&Browser, Finder, Notes, Terminal.
I haven't provided any options and I called the procedure as I outlined it above in

[2021-01-19 09:31] mschaffenroth opened #1770 "CVE-2020-25649"
## How to Reproduce the Problem
Check the version of the used library Jackson Databind. It is currently 2.10.3 and thererfore vulnerable to https://nvd.nist.gov/vuln/detail/CVE-2020-25649.

[2021-01-19 09:34] mschaffenroth commented on #1770
I created a pull request to update the version: https://github.com/neo4j-contrib/neo4j-apoc-procedures/pull/1771
Sadly i was not able to build apoc locally, it always results in an empty jar file

[2021-01-19 10:13] fbiville commented on #1770
Fixed in 4.1.
PR for 4.2: https://github.com/neo4j-contrib/neo4j-apoc-procedures/pull/1772

[2021-01-19 13:01] schmitze87 opened #1774 "Error returning virtual relationships over HTTP endpoint"
I run into an error trying to return a virtual relationship when using the HTTP endpoint.

## Expected Behavior (Mandatory)
I expect the virtual relationship to be return in the row and meta section of the response.

## Actual Behavior (Mandatory)
I'm trying to return a virtual relationship in a cypher statement. I'm using the Cypher transaction API over HTTP because usage of bolt is not allowed i

[2021-01-19 13:04] schmitze87 opened #1775 "Problem with virtual relationships over HTTP endpoint"
I run into an error trying to return a virtual relationship when using the HTTP endpoint.

## Expected Behavior (Mandatory)
I expect the virtual relationship to be return in the row and meta section of the response.

## Actual Behavior (Mandatory)
I'm trying to return a virtual relationship in a cypher statement. I'm using the Cypher transaction API over HTTP because usage of bolt is not allowed i

[2021-01-19 13:04] schmitze87 commented on #1775
duplicate

[2021-01-19 13:04] #1775 closed

[2021-01-19 16:47] moxious commented on #1754
@tbwiss I think we might need some more hints to find what's going on here.   Allow me to explain how this works and why this error should be improbable, but please mention more about the scenario you're seeing so we can hopefully find it.   (Does this happen repeatedly, or only sometimes?)

The way the procedure works is by looking through all of the nodes/rels in your database and picking a rand

[2021-01-19 19:10] romandogadin commented on #1767
Hi @conker84 , thank you for your reply.
Here is what I get when I try to connect:
Failed to invoke procedure `apoc.load.jdbc`: Caused by: java.sql.SQLException: No suitable driver found for jdbc:sqlserver://XXXX

[2021-01-19 19:57] joelduerksen opened #1777 "Documentation uses deprecated functions - https://neo4j.com/labs/apoc/4.2/virtual/virtual-nodes-rels/"
## Expected Behavior (Mandatory)

NOTE: Documentation buttons lead to github as the place to report documentation issues, but this might not be the best path?

Example cypher code in documentation works as provided as functionality implies with "Run in Neo4j Browser" and "Copy to Clipboard"

[documentation page](https://neo4j.com/labs/apoc/4.2/virtual/virtual-nodes-rels/ )
references the (deprecat

[2021-01-20 07:24] tbwiss commented on #1754
@moxious It does happen repeatedly, or in other words an error rate of a 100%.
Thanks for the detailed explanation of the procedure!

I'm also not running any other transactions at the same time when I execute the procedure. Further, I ran this procedure with a bunch of different databases ranging from 1k nodes all the way up to 50M nodes and I only get the OutOfMemoryError in this one database (E

[2021-01-20 11:29] mschaffenroth commented on #1770
@fbiville: Thank you

[2021-01-20 14:36] fbiville commented on #1770
#1772 now merged.

[2021-01-20 14:36] #1770 closed

[2021-01-20 17:03] moxious commented on #1754
Update: not able to run this bug to ground.  To be continued on an internal trello card here: https://trello.com/c/DkFiQpBz/6474-oom-on-stored-procedure-linked-to-excessive-memory-use-in-an-internal-cursor

[2021-01-21 14:48] romandogadin commented on #1767
@conker84 , this is the version I have been using all this time. I removed the apoc-4.3.0 file from the plugin directory you are seeing on the screenshot to avoid confusion.
![APOC](https://user-images.githubusercontent.com/48025741/105366640-90299680-5bcd-11eb-8a51-39b1e3664637.PNG)

[2021-01-21 16:12] linojon opened #1781 "fulltext index gets removed"
hello. I create a fulltext index, and moments later the index is gone from the database. This problem is consistently repeated. Perhaps there's a problem when i query against the index? or something else?

To create index in neo4j browser:
[code]

To query the index:
[code]

If you're in touch with the Aura cloud team, I cross posted there but it occurs both on Aura and my local database.
https://

[2021-01-21 16:22] schmitze87 commented on #1774
Btw. still the same Problem with neo4j version 4.2.2

[2021-01-21 16:23] conker84 commented on #1767
[mssql-jdbc-8.4.1.jre11.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/5850640/mssql-jdbc-8.4.1.jre11.jar.zip)
Can you please try with the jar above?
Please make sure to restart your database once you unzipped the file into the `plugins` directory

[2021-01-21 17:14] meiamsome opened #1782 "Concurrency parameter to apoc.periodic.iterate is off-by-one in 3.x"
## Expected Behavior (Mandatory)
For the cypher provided, the statements should be executed sequentially for a total execution time of approximately 5 seconds.

## Actual Behavior (Mandatory)
The cypher executes two steps in parallel regardless of the concurrency parameter and completes in approximately 3 second.

## How to Reproduce the Problem
The apoc.jobs.pool.num_threads option must be set to

[2021-01-21 20:31] romandogadin commented on #1767
@conker84 I am getting the same error after I uploaded the jar in to the plugins directory. I did restart the database and the desktop prior to executing the command.

[2021-01-22 20:53] ikwattro opened #1783 "apoc.merge.node escapes twice the identProp"
### Versions

  - OS: irrelevant
  - Neo4j: 4.1.5
  - Neo4j-Apoc: 4.1.5

The following query fails since APOC is escaping twice the identProp :

[code]

[code]

[2021-01-25 09:48] conker84 opened #1784 "Add mongo procedure to get record by id"
Add a procedure `apoc.mongo.get.byObjectId(<hostOrKey>, <db>, <collection>, <objectIdValueAsString>, <fieldName, default=_id>)` in order to get the the documents by ObjectId becayse now not it's not possibile.

[2021-01-25 09:50] conker84 commented on #1784
Please update the user that raised the issue:
https://community.neo4j.com/t/any-way-to-query-apoc-mongodb-find-by-objectid/32523/2

[2021-01-25 14:25] conker84 commented on #1767
![image](https://user-images.githubusercontent.com/1833335/105717416-61d6ee80-5f20-11eb-9259-162f217f82ea.png)
<img width="1299" alt="Screenshot 2021-01-25 at 15 01 43" src="https://user-images.githubusercontent.com/1833335/105717446-6e5b4700-5f20-11eb-9d3e-9297a7f01ae8.png">
We successfully tried in both Mac and Windows env, so it's something related to your classpath.
What your Neo4j Desktop ver

[2021-01-25 15:17] romandogadin commented on #1767
Thanks for looking into it. My desktop version is 1.4.1. The OS is Win10. Is there anything particular I can do to troubleshoot the classpath issue. Should I enable any logs to get more details?
Even if I delete everything from the plugins directory and try and execute the command I get the same error message. I was also able to install the APOC plugin without having the apoc library in the plugin

[2021-01-25 15:22] conker84 commented on #1767
please try to create a new database (and from the database stopped):
1. install apoc
2. import the JDBC driver jar that I shared above into the plugins dir
3. Start Neo4j
4. execute the `apoc.load.driver` call

[2021-01-25 17:40] simon-hoegl commented on #1784
I stumbled across the same issue but in update context. I think a more general approach would be good, so it could be used in all mongo procedures.
Maybe allow usage of the [MongoDB Extended JSON (v2)]((https://docs.mongodb.com/manual/reference/mongodb-extended-json/#bson.ObjectId)) in the query map.
`{ "$oid": "<ObjectId bytes>" }`

[2021-01-25 19:06] szarnyasg opened #1785 "apoc.import.csv documentation needs improvements"
The documentation of the APOC CSV import procedure (contributed in #581, documented in #844) could use a few improvements such as disambiguation from the CSV load procedure. The PR is on its way.

[2021-01-25 21:59] plasticfist opened #1788 "create a metagraph of the results of a cypher query (viz similar to apoc.meta.graph's output)"
Feature request:   function to create a metagraph of the results of a cypher query, in the same way that apoc.meta.graph does for the entire graph.

Reference: https://community.neo4j.com/t/best-way-to-create-a-metagraph-of-the-results-from-a-cypher-query-that-returns-paths/32527

Alternative?  I'm currently attempting to do this with the non-optimal Cypher statement below (note: this cypher only

[2021-01-26 11:45] schmitze87 commented on #1774
I just tested with APOC Relese 4.2.0.1. It's the same problem and behaviour.

[2021-01-26 13:53] conker84 commented on #1777
@joelduerksen thank you so much that procedure exists, but has a different name `apoc.map.groupBy` we'll update the documentation accordingly.

[2021-01-26 14:44] conker84 commented on #1784
@simon-hoegl I thought about that but this means a big change for us in order to support all the changes not only this one. We can also think to create a new set of procedures leveraging the full set of Bson extension and deprecating this in the future.
If you want, please fill a new issue with your request and we're happy to discuss it!

[2021-01-26 14:45] joelduerksen commented on #1777
Thank you.  If I recall correctly I may have noticed a couple of other nearby things that were out of date too, but didn't want to file multiple tickets.  The reviewer/editor will (I hope) be thinking about what other calls were renamed, or replaced at the same time, and update those sections too..

[2021-01-26 21:36] simon-hoegl opened #1790 "Support MongoDB Extended JSON (v2) in apoc.mongodb.* procedures parameters"
## Feature description (Mandatory)
It would be very useful if the MongoDB Extended JSON (v2) would be supported in all apoc.mongodb.* procedures query parameter. I´m not too familiar with Mongo, but maybe it´s useful for the update parameter too.

Relates to issue #1784

## Considered alternatives
No alternatives.

Current apoc.mongodb could be extended:
The simplest way would be to serialize the

[2021-01-27 14:25] vga91 commented on #1674
@gabrielmateitoma the problem is due to the csv, that is generated with the BOM character. Currently we can't handle this case with the procedures. To fix the problem temporarily, you would be able to generate the csv without the BOM? Thanks.

[2021-01-27 15:35] conker84 commented on #1788
[apoc-4.1.0.5-all.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/5881247/apoc-4.1.0.5-all.jar.zip)
@plasticfist can you try with the jar above?
I added two procedures:

* `apoc.meta.data.of(<input>, <config>)`
* `apoc.meta.graph.of(<input>, <config>)`

The `input` can be:

* a cypher query
* a Virtual graph returned by `apoc.graph.*`
* a map with two field `nodes` (a list of

[2021-01-27 21:45] plasticfist commented on #1788
It is close, in simple tests the node count appears, but it appears to be
returning aggregated edge counts.
Example, if two nodes have multiple relationships (perhaps just when it is
the same type of edge?) between them, all of those edges are only counted
as a single edge.  I would need to see the actual edge count, however now I
can see the utility of (also) knowing the aggregated edge count as

[2021-01-28 09:02] conker84 commented on #1788
So if i test with this simple graph:

[code]

You want an option that counts `(p)-[:BOUGHT]->(pr)` only once right?

[2021-01-28 11:05] vga91 commented on #1660
@smithna  I opened a pr with the requested change #1792.
Can you check if it's ok for you?

[2021-01-28 12:04] conker84 commented on #1781
Hi @linojon can you elaborate on how this is related to APOC?

[2021-01-28 15:43] romandogadin commented on #1767
Hi @conker84 ,
I have tried following your steps and still no luck - got the same error (DB v4.1.3; APOC 4.1.0.6). I have also tried creating a new db using the latest version 4.2.3 and APOC 4.2.0.1 - same error. It asks me to fix conflicts when I first start the db (attaching the screenshot).
![winex](https://user-images.githubusercontent.com/48025741/106160990-6edc2380-6154-11eb-81d1-6b3cc57f896

[2021-01-28 15:54] conker84 commented on #1767
I think that you put the driver under a wrong directory because there is no APOC inside it.
In order to be sure that you are inside the correct dir please look at the following image an click in this order:

1. to the area highlighted in red
2. to the area highlighted in yellow
3. to area highlighted in blue

This will open the correct `plugin` directory and in there put the MSSQL jar, then restar

[2021-01-28 16:03] joelduerksen commented on #1788
Thank you for working to add this capability!
NOTE: After a second look today and hand counting edges, I believe apoc.meta.graph.of(cypher) is working correctly.  What I saw yesterday was actually an issue with my prototype cypher attempt.  I'm glad you are adding this...

Yes, exactly, ideally the :BOUGHT edge in the meta graph would have two properties .count=3 and .aggr_count=2 (naming tbd).

[2021-01-28 16:15] conker84 commented on #1788
@joelduerksen oki for now we'll merge the procedure without the aggregate count, we'll add the feature in future releases as it can be managed via cypher query in this version

[2021-01-28 16:17] joelduerksen commented on #1788
Ok! thank you.

[2021-01-28 18:37] romandogadin commented on #1767
@conker84  that was it! I had a feeling it wasn't pointed at the right plugin directory. Thank you so much.

[2021-01-28 18:38] #1767 closed

[2021-01-28 18:54] tomasonjo opened #1793 "apoc.load.html procedure fail silently"
Currently, the `apoc.load.html` procedure returns an error and rolls back the transaction if any error occurs. The error messaging is not really helpful, you can look at https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/4.1/full/src/main/java/apoc/load/LoadHtml.java#L54.
In my opinion, it would be better to fail silently and just return an empty map with defined keys. Something along the

[2021-01-29 15:53] #1785 closed

[2021-01-29 16:22] #1660 closed

[2021-01-29 16:29] moxious commented on #1754
Yikes. @tbwiss we investigated this with the internal kernel team and this is the answer that came back:

So I'm very sorry to say that this seems to be caused by a database-specific problem due to inconsistent data, interacting with (arguably a bug, arguably not a bug because the data is bad) situation in the database kernel.  The only solution I can offer is "Don't use that database" because it

[2021-01-29 16:29] #1754 closed

[2021-02-01 07:00] tbwiss commented on #1754
@moxious thanks for investigating this!
We'll have to sync team internal and see that we limit the use of the Enron database.

[2021-02-01 09:41] Lukasmp3 commented on #1656
Still not any progress about this that would work on `neo4j 4.1.1+` or `neo4j 4.2.1.+`?

[2021-02-01 13:05] jexp opened #1796 "procedure/function to provide an URL + indexed String or json object"
## Use case

Imagine you have large files on http(s)/s3/gcp storage that you want to import into neo4j.
Unfortunately a large portion of the immutable files are large strings or larger nested document properties that would just stored in neo but never queried or used but just returned to the user.

Wouldn't it be nice to have a function/procedure that can provide a URL with an offset (optional lim

[2021-02-01 15:15] mneedham opened #1797 "Update couchbase client to 3.1.1"
Can we please update the couchbase client to the latest version - https://mvnrepository.com/artifact/com.couchbase.client/java-client/3.1.1

I think this will meant that we can't support Couchbase v4 anymore, but I reckon that's ok since it's not even shown on the Couchbase website anymore.

[2021-02-01 15:16] voutilad commented on #1769
@meiamsome Just had a PR merged that should fix this...care to validate?

[2021-02-01 17:52] vga91 commented on #1725
@malencv I didn't reproduce the problem, in both versions.
Could you try again with the latest versions? Thank you.

[2021-02-03 06:21] roamerop opened #1803 "`apoc.import.csv`: Caused by: java.util.NoSuchElementException: No value present"
## Guidelines
According the `APOC Documentation`, i try to `Loading nodes` but failed.
`Loading nodes and relationships` works ok.
[doc](https://neo4j.com/labs/apoc/4.2/import/import-csv/)

## Actual Behavior (Mandatory)
turns error `apoc.import.csv`: Caused by: java.util.NoSuchElementException: No value present

### Versions

  - OS: Centos7
  - Neo4j: 4.2.2
  - Neo4j-Apoc: 4.2.0.1

[2021-02-03 09:10] conker84 commented on #1803
@roamerop can you share the file and the full command that you're using?

[2021-02-03 16:45] jranua commented on #1568
Do all of the commit references imply you were able to recreate the issue? If so, do you have any idea when this would be fixed with a release of apoc 3.5?

[2021-02-05 15:16] viveksaran71 opened #1805 "Cannot kill query if the concurrency is set to 0 in apoc.periodic.iterate()"
## Expected Behavior (Mandatory)
**dbms.killQuery()** should be able to kill the `apoc.periodic.iterate()` if `concurrenc:0` config is set with `parallel:true`.

## Actual Behavior (Mandatory)

If we try to kill it, there is no effect of the kill query. Neo4j eventually gets into an unrecoverable state with the apoc query still running.

## How to Reproduce the Problem

To reproduce the issue prep

[2021-02-07 08:16] roamerop commented on #1803
I just execute the doc example  cmd  [see](https://neo4j.com/labs/apoc/4.2/import/import-csv/)
[code]
`CALL apoc.import.csv([{fileName: 'file:/persons.csv', labels: ['Person']}], [], {})`

[2021-02-07 08:17] roamerop commented on #1803
I just execute the doc example cmd see
[code]
`
CALL apoc.import.csv([{fileName: 'file:/persons.csv', labels: ['Person']}], [], {})
`

[2021-02-08 09:19] conker84 commented on #1793
@tomasonjo can you provide a simple example in order to create a test case?

[2021-02-08 12:10] ninjakx opened #1806 "How to config apoc while using sandbox?"
**Traceback:**

`ClientError: [Procedure.ProcedureCallFailed] Failed to invoke procedure `apoc.load.json`: Caused by: java.lang.RuntimeException: Import from files not enabled, please set apoc.import.file.enabled=true in your apoc.conf`

I am working on yelp dataset and for that using kaggle kernel and created a sandbox project.

[code]

How do I make it work in kaggle kernel? when I am using neo4

[2021-02-08 18:01] tomasonjo commented on #1793
The example call is

[code]

Maybe also the underlying problem can be fixed :)

[2021-02-09 14:13] fbiville commented on #1568
@jranua I merged the pull request https://github.com/neo4j-contrib/neo4j-apoc-procedures/pull/1778 yesterday.
You can build the `3.5` branch locally and test that the resulting APOC JAR fixes the issue.

[2021-02-11 12:47] jexp commented on #1781
Please keep it in the aura support portal, or raise at https://github.com/neo4j/neo4j

[2021-02-11 12:47] #1781 closed

[2021-02-11 12:50] jexp commented on #1806
You cannot access the filesystem on a sandbox, so please use remote http(s) URLs instead for your data.

[2021-02-11 12:50] #1806 closed

[2021-02-11 14:58] albert-kevin opened #1808 "APOC NLP functions for Azure cognitive services - Failed - returned HTTP response code: 400"
## Expected Behavior (Mandatory)
HTTP response: 200

## Actual Behavior (Mandatory)
HTTP response: 400

## How to Reproduce the Problem

### Simple Dataset (where it's possibile)

documentation: https://neo4j.com/labs/apoc/4.2/nlp/azure/#nlp-azure-examples-entities
currently using: neo4j 4.1.3-enterprise, APOC 4.1.0.6 and NLP 4.1.0.2
also tried with: neo4j 4.2.3-enterprise, APOC 4.2.0.1 and NLP 4.

[2021-02-12 21:10] alexandrusavin commented on #1685
Is there any progress on this issue? It affects our production server (v4.2.0)

[2021-02-16 14:37] reneleitz opened #1809 "Problems with apoc.diff.nodes and Neo4j 4.2"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

After updating Neo4j 3.5.16 to 4.2 i have problems with the apoc function apoc.diff.nodes.
Mr. Armbruster advised me

[2021-02-17 08:48] vga91 opened #1810 "CALL apoc.meta.schema returns wrong type with a node without properties"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)

The procedure returns `"type": "node"`

## Actual Behavior (Mandatory)

The proced

[2021-02-18 09:34] vga91 commented on #1612
@jexp I created a pr with the procedure `apoc.cypher.runWrite`.
In addition to the procedure `apoc.cypher.doIt`, what other functions must be added with the analogous `Mode.SCHEMA`?
The `apoc.do.when`, for example?

[2021-02-18 14:36] #1617 closed

[2021-02-18 14:37] #1715 closed

[2021-02-18 14:38] #1783 closed

[2021-02-19 14:35] #1711 closed

[2021-02-19 18:29] vga91 commented on #1452
@fenre-s
I didn't reproduce the problem, the procedure `RETURN apoc.static.get("myapi.location") AS value` works well with your `apoc.conf` example.
Please, can you try again with the latest version?
And, if the problem is still present, can you provide the `apoc.conf` file? (maybe there is some strange character that prevents correct reading)

[2021-02-22 22:01] InverseFalcon opened #1815 "Add query update summary to yielded data from apoc.periodic.iterate()"
## Feature description (Mandatory)
apoc.periodic.iterate() provides only minimal information about the result of the call. Specifically, aside from error info, it provides the total number of rows processed (from the outer driving query) and the total number of batches executed, but it doesn't provide any information of what was updated within those batches.

It would be very useful if update stat

[2021-02-23 09:17] albert-kevin commented on #1808
ping me anytime, I can start up the VM anytime you want to test and see for yourself

[2021-02-23 15:46] voutilad commented on #1805
@viveksaran71 I believe #1794 should fix the run-away query, but it's not cherry-picked into the 4.2 branch yet. I did a manual test and I can stop both queries without issue using the Browser gui.

I think that `{ concurrency: 0 }` (any value `< 1`) should instead result in an exception and fail immediately.

[2021-02-24 09:31] vga91 commented on #1793
@tomasonjo

[apoc-4.1.0.6.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/6034758/apoc-4.1.0.6.zip)

I attached a jar with the "fail silently" feature. Now, with config `{failsSilently: true}`, the procedure doesn't fail with exception, but continue and create a Neo4j `log.warn` with the failed tag, for example
[code]
and returns the list of the values, except for values not corr

[2021-02-24 10:53] tomasonjo commented on #1793
Looks really nice!

[2021-02-24 19:16] voutilad commented on #1815
I've got something pretty close to implemented, but found out adding schema updates (indexes, contraints) might be moot as there's no easy way to do schema operations in the producer Cypher statement. Even if you use `apoc.schema.assert()` that proc doesn't return a QueryStatistics map with counts, either!

[2021-02-25 11:41] conker84 commented on #1808
@albert-kevin can you please try with the following jar?
[apoc-4.1.0.6-all.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/6042673/apoc-4.1.0.6-all.jar.zip)

[2021-02-25 14:03] albert-kevin commented on #1808
I started the VM (138.91.61.102)

checked the neo4j/plugins folder
-rw-r--r-- 1   7474 7474 18540089 Jan 26 14:35 apoc.jar
sudo mv apoc.jar apoc_olderBkcp.jar

sudo wget https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/6042673/apoc-4.1.0.6-all.jar.zip
sudo unzip apoc-4.1.0.6-all.jar.zip
sudo chown 7474:7474 apoc-4.1.0.6-all.jar
sudo rm apoc-4.1.0.6-all.jar.zip

file detail:
-rw-r--r--

[2021-02-25 14:05] albert-kevin commented on #1808
be aware I am using this in Ubuntu
so, it downloads from neo4j own code the correct versions normally, but somehow fails

version: '3'
services:
  neo4j_db:
    restart: always         # startup on reboot VM
    image: neo4j:4.1.3-enterprise   # Enterprise Edition
    volumes:
      - /home/ubuntu/notebooks/azuremachinelearning/neo4j/plugins:/plugins
      - /home/ubuntu/notebooks/azuremachinelear

[2021-02-25 14:06] #1639 closed

[2021-02-25 14:07] albert-kevin commented on #1808
ubuntu@myVM02:~/notebooks/azuremachinelearning$ sudo docker-compose up --build &
[1] 10386
ubuntu@myVM02:~/notebooks/azuremachinelearning$ Building with native build. Learn about native build in Compose here: https://docs.docker.com/go/compose-native-build/
Creating network "azuremachinelearning_default" with the default driver
Pulling neo4j_db (neo4j:4.1.3-enterprise)...
4.1.3-enterprise: Pulling

[2021-02-25 14:34] conker84 commented on #1808
Try with this:

[code]

And be sure that in `/home/ubuntu/notebooks/azuremachinelearning/neo4j/plugins` you have the jar file that I shared with you (unzipped)

then from the compose file directory: `docker-compose up`

You're are downloading the official release of APOC which does not contain the fix.

Just to let you know I tested the fix before sharing it with you :)

[2021-02-25 14:41] albert-kevin commented on #1808
I will try to replace the NLP version:
-rw-r--r-- 1   7474 7474 10848418 Aug 12  2020 apoc-nlp-dependencies-4.1.0.2.jar

cd neo4j/plugins
sudo wget https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases/download/4.1.0.6/apoc-nlp-dependencies-4.1.0.6.jar
sudo chown 7474:7474 apoc-nlp-dependencies-4.1.0.6.jar
sudo rm apoc-nlp-dependencies-4.1.0.2.jar

-rw-r--r-- 1   7474 7474 10848418 Jan 2

[2021-02-25 14:43] albert-kevin commented on #1808
testing your last message now...

[2021-02-25 14:44] conker84 commented on #1808
Please be sure to also have `apoc-nlp-dependencies-4.1.0.2.jar` inside the `/home/ubuntu/notebooks/azuremachinelearning/neo4j/plugins`

[2021-02-25 15:13] albert-kevin commented on #1808
-rwxrwxrwx 1   7474 7474 18542753 Feb 25 15:52 apoc-4.1.0.6-all.jar
-rwxrwxrwx 1   7474 7474 10848418 Feb 25 16:00 apoc-nlp-dependencies-4.1.0.2.jar
-rwxrwxrwx 1   7474 7474 11132061 Sep 30 17:49 bloom-plugin-4.x-1.4.0.jar
-rwxrwxrwx 1   7474 7474       84 Feb 11 14:26 bloom-plugin.license
-rwxrwxrwx 1   7474 7474 14522303 Feb  9 23:34 graph-data-science.jar
-rwxrwxrwx 1   7474 7474  9192401 Sep 3

[2021-02-25 15:19] albert-kevin commented on #1808
ok cleared the whole data folder, now neo4j started up, testing now

[2021-02-25 15:22] albert-kevin commented on #1808
nothing changed, we still have these files and exact size/versions:
-rwxrwxrwx 1   7474 7474 18542753 Feb 25 15:52 apoc-4.1.0.6-all.jar
-rwxrwxrwx 1   7474 7474 10848418 Feb 25 16:00 apoc-nlp-dependencies-4.1.0.2.jar
-rwxrwxrwx 1   7474 7474 11132061 Sep 30 17:49 bloom-plugin-4.x-1.4.0.jar
-rwxrwxrwx 1   7474 7474       84 Feb 11 14:26 bloom-plugin.license
-rwxrwxrwx 1   7474 7474 14522303 Feb  9

[2021-02-25 15:28] conker84 commented on #1808
I think would be great if you remove all containers and try with a new one

[2021-02-25 15:31] conker84 commented on #1808
and try with fresh folders that are visible from docker!

[2021-02-25 15:42] albert-kevin commented on #1808
ok IT WORKS now
I had to change the docker-compose file a bit more:
needed to set '*' asteriks
      - NEO4J_dbms_security_procedures_unrestricted=apoc.*,gds.*,bloom.*
      - NEO4J_dbms_security_procedures_whitelist=apoc.*,gds.*

now indeed with these specific version it is able to work properly.
the question now is can we use this understanding and do more tests...

[2021-02-25 16:14] conker84 commented on #1808
what do you mean?

[2021-02-25 16:20] albert-kevin commented on #1808
ok it also works with the latest NLP 4.1.0.6 in this neo4j 4.1.3 and same apoc 4.1.0.6
when I restart and remove the NLP jar it fails having no procedures.
When I restart and install the an NLP version not compatible... v4.2.0.1 then it works fine !
I don't yet understand why the failures ?

[2021-02-25 16:25] albert-kevin commented on #1808
ok, when I use APOC 4.2.0.1 with incompatible neo4j 4.1.3 and latest NLP 4.2.0.1 it fails due to APOC.

[2021-02-25 16:26] conker84 commented on #1808
Yes it's incompatible

[2021-02-25 16:28] albert-kevin commented on #1808
ok, I now tried again to use neo4j 4.2.3 with NLP 4.2.0.1 and APOC 4.2.0.1 it FAIL as well. ok!

[2021-02-26 09:16] albert-kevin commented on #1808
do you agree that, although newer version are released, this Azure NLP APOC stuff is clearly not functioning since ?
How do we go further and is there a way I can help ?
Testing or even see the code and try new things, because notice that the APOC code should allow a parameter to choose the API version, currently v2.1 is less transformative AI model than the latest v3.0 (maybe even v3.1)

[2021-02-26 09:44] conker84 commented on #1808
Sorry I don't understand what you mean.
Btw API v3 is currently in preview and we plan to support it as it will become stable.

[2021-02-26 10:37] albert-kevin commented on #1808
ok so when I use Neo4j v4.2.3 (instead of 4.1.3) then apoc.nlp.azure.entities.graph generate a fault, that did not occur in the older version. Why allow to release a newer neo4j, nlp and apoc version with broken features is unclear to me ?
The error message in Cypher:
java.io.IOException: Server returned HTTP response code: 400 for URL: https://kevintest0702202001.cognitiveservices.azure.com/text/

[2021-02-26 13:45] conker84 commented on #1808
Ok we're making a little bit of confusion on this thread, lets keep it simple:

* again, you **cannot use** the package that I shared with you in Neo4j `4.2` because its compiled for Neo4j `4.1`. When you use Docker the Neo4j image will download the proper apoc version when you use this env variable `NEO4JLABS_PLUGINS=["apoc","graph-data-science"]`
* I tried the jar that I sent to you with all 4 e

[2021-02-26 14:30] albert-kevin commented on #1808
_again, you cannot use the package that I shared with you in Neo4j 4.2 because its compiled for Neo4j 4.1. When you use Docker the Neo4j image will download the proper apoc version when you use this env variable NEO4JLABS_PLUGINS=["apoc","graph-data-science"]_
**Yes, I agree and that is correct. depending on the neo4j version it will automatically select from the json file the compatible apoc and

[2021-02-26 16:06] #1788 closed

[2021-02-26 16:13] #1810 closed

[2021-02-26 17:06] #1808 closed

[2021-02-26 17:23] conker84 opened #1820 "Azure NLP add support for newer API versions"
Add support for V3 apis as requested in #1808

[2021-02-26 17:24] conker84 commented on #1820
@albert-kevin I created this issue to track your request

[2021-02-26 18:13] #1803 closed

[2021-03-01 11:49] vga91 commented on #1685
@alexandrusavin
I have attached a `.jar` that should fix the problem in `4.2`.
Please, could you test the procedure with this jar and give a feedback about it?
[apoc-4.2.0.1-all.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/6061326/apoc-4.2.0.1-all.zip)

[2021-03-02 11:29] vga91 commented on #1704
@edacker
I was unable to replicate the bug.
Please, could you provide the dataset used, and the exported `.graphml` file? (it seems like the bug is at the beginning of the file)

[2021-03-04 15:04] alexandrusavin commented on #1685
@vga91 Thanks! Will check it as soon as I get the chance (hopefully next couple of days).

[2021-03-05 17:43] fbiville commented on #1184
Based on a slightly updated variant of this test, the Java API of Neo4j and Cypher-Shell return 1 value: `"PT9H5M35.353S"`.
Neo4j Browser returns another `P0M0DT32735.353000000S`.
It might be a driver issue.

[2021-03-09 13:10] AdrienLemaire opened #1824 "apoc.nodes.link if not exists"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Feature description (Mandatory)
To avoid getting duplicate relationships created between nodes when calling apoc.

[2021-03-10 09:35] conker84 commented on #1685
@alexandrusavin hi! Any news?

[2021-03-10 09:36] conker84 commented on #1809
close via f3a42f8

[2021-03-10 09:36] #1809 closed

[2021-03-10 10:13] datanostra commented on #1656
Doesn't work with current apoc maven repository (4.2.0.1):
(https://mvnrepository.com/artifact/org.neo4j.procedure/apoc/4.2.0.1)

I successfully run the above example injecting manually the apoc-all dependency, though.  But apoc-all is not available from maven repository.

[2021-03-10 10:29] guillaume-alvarez opened #1825 "apoc-all is not available on maven repository"
## Expected Behavior (Mandatory)
For tests, maven can download apoc-all and apoc-core from [maven central repository](https://mvnrepository.com/artifact/org.neo4j.procedure/).

## Actual Behavior (Mandatory)
Only a small 'apoc' jar is present: https://mvnrepository.com/artifact/org.neo4j.procedure/apoc

## How to Reproduce the Problem
Add apoc-all as a maven dependency. It won't be able to downloa

[2021-03-10 23:13] #1805 closed

[2021-03-11 12:18] alexandrusavin commented on #1685
@conker84 Hi! We'll try it out this week again and will come with feedback.

[2021-03-11 12:40] conker84 commented on #1452
@fenre-s ping

[2021-03-11 15:46] kvegter opened #1826 "Make it possible to specify a database in apoc.bolt.*"
## make it possible to configure a database
Make it possible to specify a database when you call apoc.bolt.load or apoc.bolt.execute when you are connecting to a version 4 database.

[2021-03-11 15:59] #1826 closed

[2021-03-11 16:00] kvegter commented on #1826
It is already done in the 4.0 branch, i will create an issue for it to get it in the 4.2 branch

[2021-03-15 14:30] tygrysmalajski commented on #1568
I'm having the same issue on Neo4j: 4.2.3 and Neo4j-Apoc: 4.2.0.1

[2021-03-17 11:50] mojo2go opened #1828 "When apoc.text.replace extracts several values, bind them directly to variables."
When I use apoc.text.replace, I often wish to extract several values at once and immediately assign each to its own variable. I normally set up an assignment per variable like this:

[code]

...and that works fine, but I wish I could make that less verbose.  It would be great if I could do something like load the results directly into a map of named parameters like this:

[code]

And...while we're

[2021-03-18 16:33] natete commented on #1825
I'm trying using `<classifier>all</classifier>` in de dependency tag. This way I can use the ApocConfig class available but unfortunately, the test is failing to start the embedded database server as recommended in the related issue.

[2021-03-22 07:42] natete commented on #1825
Finally I made it work with the `classifier` fix.

[2021-03-22 11:26] moxious opened #1829 "Bug in CALL apoc.metrics.storage('dbms.directories.data') due to APOC configuration check"
## Expected Behavior (Mandatory)

```CALL apoc.metrics.storage('dbms.directories.data'); ```

Should return one record with information about the underlying storage device (how much space is free/available)

## Actual Behavior (Mandatory)

No results returned

## How to Reproduce the Problem

```CALL apoc.metrics.storage('dbms.directories.data'); ```

Tested on 4.1.

I think the root of the issue

[2021-03-22 11:30] moxious commented on #1829
If memory serves, integration tests weren't written for this procedure initially because testing was done with in-memory containers that didn't have data on disk.  If the testing regime has changed it'd be good to not only unit test but also verify that the procedures return data to prevent regressions like these

[2021-03-23 11:08] leonpierre opened #1831 "apoc.load.jsonParams as POST request with body input parameters"
## Feature description (Mandatory)
Currently it is possible to call a POST request with jsonParams from apoc but you can't define a body for REST API methods like:

[HttpPost("getJson")]
[Produces("application/json")]
public async Task<JsonResult> GetJson(int id, [FromBody] List<string> params)

## Considered alternatives
Alternative could be to change the API method to GET and change the input pa

[2021-03-25 15:35] #1657 closed

[2021-03-25 15:35] #1723 closed

[2021-03-25 15:35] #1793 closed

[2021-03-25 15:35] #28 closed

[2021-03-25 15:35] #1336 closed

[2021-03-25 15:35] #1784 closed

[2021-03-25 15:44] fbiville opened #1836 "Explain documentation structure in `CONTRIBUTING.md`"
Contributing to documentation is not straightforward to newcomers, since the documentation is generated **and** versioned  in Asciidoc files, but the information comes most of the time from the Java source files.

[2021-03-26 22:23] kamoclav opened #1838 "apoc.map.unflatten as the reverse to apoc.map.flatten"
## Feature description (Mandatory)
apoc.mapp.flatten is great for loading nested json resources into neo4j. For use cases like using FHIR for healthcare data it provides a way to load data without heavy ingest mapping burden. However, if the graph is the storage point for this data it needs to be unflattened and returned to its json state for many usecases.

## Considered alternatives
I have not s

[2021-03-27 21:42] leow193 opened #1839 "Delay with refactor functions"
## Expected Behavior
Query should end only when the refactor is complete

## Actual Behavior
Query seems to end before the refactor is complete

## How to Reproduce the Problem

In neo4j I made multiple queries and ended with different refactor to regroup nodes that had the same name.
I then made a quick MATCH (n) RETURN n to see if the refactor went correctly. It didn't. There were still duplicat

[2021-03-29 10:18] rfreydi opened #1840 "[TRIGGER] createdRelationships "after" crash and "afterAsync" do nothing"
## Expected Behavior (Mandatory)

When we add a trigger on `createdRelationships`, it should be executed wether we are in before, after or afterAsync phase.

## Actual Behavior (Mandatory)

The trigger on the phase before work, the same trigger on the phase after loop forever and on the phase afterAsync it does nothing.

## How to Reproduce the Problem

I have created a new db with dedicated node/

[2021-03-29 19:17] #1337 closed

[2021-03-30 14:13] conker84 commented on #1840
@rfreydi thank you so much for the issue
can you test the following jar?
[apoc-4.2.0.2-all.jar.zip](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/6229554/apoc-4.2.0.2-all.jar.zip)

Btw also your query in the trigger is wrong:

[code]

`WHERE (r:R2 OR r:R3)` works only for nodes you have to change it in the following way:

`WHERE type(r) IN ["R3", "R2"]`

so the full query is:

[code

[2021-03-30 14:13] conker84 commented on #1840
Ah please test it with the afterAsync phase!

[2021-03-30 15:34] rfreydi commented on #1840
Thank you for the correction :D Tested with your jar file and afterAsync work :) !

![image](https://user-images.githubusercontent.com/21192766/113015637-07574a00-917e-11eb-9325-cd602767b560.png)

Still infinite loop for phase `after`

[2021-03-30 18:34] conker84 commented on #1840
The infinite loop in the `after` is because there is a transaction lock that cannot be released, that's why we introduced the `afterAsync` phase, so please use it for your use case
Thank you so much for the feedback!

[2021-03-30 18:50] kamoclav commented on #1838
Happy to!
Importing a node using apoc.map.flatten

with apoc.map.flatten(
{name: "John Smith",
address:
{streetAddress: "21 2nd Street",
city: "New York",
state: "NY",
postalCode: 10021 }
}) as data
Create (p:Patient) set p= data

I now have a node with dot notation for the nested data, works great

{
  "identity": 227175,
  "labels": [
    "Patient"
  ],
  "properties": {
"name": "John Smith",
"a

[2021-03-31 20:10] conker84 commented on #1839
Hi @leow193 the issue is quite generic, what is the refactor procedure?
Can you please detail the full steps to help us to reproduce the problem?
Thank you

[2021-04-01 10:30] conker84 commented on #1828
@mojo2go did you tried with `apoc.text.regexGroups`?

https://neo4j.com/labs/apoc/4.1/overview/apoc.text/apoc.text.regexGroups/

I think it does the job

[2021-04-01 13:09] #1840 closed

[2021-04-01 18:16] conker84 commented on #1731
The cherry-pick has been done so I'm closing this

[2021-04-01 18:16] #1731 closed

[2021-04-06 07:18] conker84 commented on #1839
@leow193 PING

[2021-04-06 07:19] conker84 commented on #1828
@mojo2go ping!

[2021-04-07 18:41] cg122 commented on #1555
Although it now overwrites existing procedure, the unseen procedure still can be executed, and it is the same for all the ever existed procedures (even removed by apoc.custom.removeProcedure).

[2021-04-07 19:33] conker84 commented on #1555
@cg122 how can we replicate the problem?

[2021-04-07 20:05] cg122 commented on #1555
I am using neo4j from docker, with neo4j:latest (4.2.4):
[code]
From neo4j browser:
- First register a procedure:
[code]
- register a procedure with the same name:
[code]
- check the registered procedure:
[code]

type | name | description | mode | statement | inputs | outputs | forceSingle
-- | -- | -- | -- | -- | -- | -- | --
1 | "procedure" | "test_ghost" | "" | "read" | "RETURN $count as result

[2021-04-07 21:43] conker84 opened #1850 "Delete overload procedure problem"
Reported by @cg122 in https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1555#issuecomment-815208614

I am using neo4j from docker, with neo4j:latest (4.2.4):
[code]
From neo4j browser:
- First register a procedure:
[code]
- register a procedure with the same name:
[code]
- check the registered procedure:
[code]

type | name | description | mode | statement | inputs | outputs | forceSin

[2021-04-07 21:44] conker84 commented on #1555
@cg122 thank you so much that's not the same problem but it's another one because you're overloading the procedure, I created #1850 in order to track it

[2021-04-15 06:36] abbas-gadhia commented on #1825
Classifier syntax for gradle.

`testImplementation "org.neo4j.procedure:apoc:$neo4j_apoc_version:all"`

[2021-04-15 11:40] jonomacx commented on #286
Hi, did any of you find a resolution to the question of missing APOC procedures?

[2021-04-15 14:57] fbiville opened #1855 "Document apoc.convert.toTree"
Currently, the structure of `apoc.convert.toTree` output is not super clear.
It would be good to add some examples.

[2021-04-15 17:49] abhinavk1492 opened #1856 "Neomodel uri issue for multiple databases"
I recently upgraded my Neo4j database from 3.5 to 4.1 and also the neomodel package. I have created multiple databases on the server. Whenever I am running a query, it always runs on a specific database. What do I need to do to target a different database through bolt URI programmatically?

[2021-04-17 06:20] alexabidri commented on #617
Can someone give the exact certitude that UNION is running queries in a non-parallel way?

I just did the test, it seems that its totally no parallelism.

How about UNION All ?

[2021-04-19 12:10] alexlitvinenko opened #1857 "Typos in doc for apoc.coll.containsAll"
https://neo4j.com/labs/apoc/4.1/overview/apoc.coll/apoc.coll.containsAll/
See image attached.
![image](https://user-images.githubusercontent.com/5246563/115234049-4a736000-a121-11eb-8613-87144164b0a7.png)

[2021-04-19 15:20] AlexiosP opened #1858 "Triggers don't apply changes to the data returned within the transaction that triggered them"
## Expected Behavior

When a [trigger with phase](https://neo4j.com/labs/apoc/4.1/background-operations/triggers/) `before` is triggered during a transaction, I expect the data returned by the transaction to have the changes that were performed by the trigger.

## Actual Behavior

When the trigger is triggered during a transaction, the data that are returned from the transaction that caused the tr

[2021-04-20 09:54] conker84 commented on #1858
@AlexiosP thanks for opening this. This is a visualization problem and there is no way to fix it APOC, so I'm closing this.
Thank you so much!

[2021-04-20 09:54] #1858 closed

[2021-04-20 10:03] AlexiosP commented on #1858
@conker84 Apart from from the visualization aspect, this unexpected behavior exists in the programming level as well.

Suppose you have a Java repository (Kotlin code)
[code]
and its implementation
[code]

Is this an expected behavior?

[2021-04-21 08:52] vga91 commented on #1831
@leonpierre
The loadJsonParam allows you to insert a `payload` as a string at the 3rd parameter.
https://neo4j.com/labs/apoc/4.1/import/load-json/#load-json-examples-post-json

So, could you pass the stringified input parameters here?
Let me know if this solution is right.

[2021-04-21 13:12] fbiville opened #1860 "Upgrade json-smart to avoid security issue"
`net.minidev:json-smart:2.3` is currently transitively used by APOC (4.2 and 4.3, core and full) via `com.jayway.jsonpath:json-path:2.4.0`.

This version of `json-smart` (up until 2.4 actually) is currently insecure, as detailed by [CVE-2021-27568](https://nvd.nist.gov/vuln/detail/CVE-2021-27568).

The latest `json-path` (2.5.0 at the time of writing) still references `json-smart` 2.3.
Before the

[2021-04-22 08:16] NoNoBug opened #1861 "the procedure of apoc.meta.schema() get wrong result"
## Guidelines

## Expected Behavior (Mandatory)
### execute cql：
   call apoc.meta.schema ( )

### get metadate for the database：
    {
      "labelName": {},
      "relationType": {},
       .........................
    }

## Actual Behavior (Mandatory)

get empty result ， just {  }

## How to Reproduce the Problem

### first Initialization data by the flowing  cql:

MERGE ( s0 :person{id:1} )

[2021-04-22 11:26] conker84 commented on #1704
@edacker ping

[2021-04-22 13:40] #1860 closed

[2021-04-22 14:51] #1685 closed

[2021-04-22 14:58] conker84 opened #1864 "Cherry-Pick Commits to 4.1"
In this issue we collect the failed auto cherry-pick operations for branch `4.1`.

Please don't edit or close it.

[2021-04-22 14:58] conker84 opened #1865 "Cherry-Pick Commits to 4.2"
In this issue we collect the failed auto cherry-pick operations for branch `4.2`.

Please don't edit or close it.

[2021-04-22 14:58] conker84 opened #1866 "Cherry-Pick Commits to 4.3"
In this issue we collect the failed auto cherry-pick operations for branch `4.3`.

Please don't edit or close it.

[2021-04-22 14:59] conker84 commented on #1864
The failed commit ids are:

[2021-04-22 14:59] conker84 commented on #1865
The failed commit ids are:

[2021-04-22 14:59] conker84 commented on #1866
The failed commit ids are:

[2021-04-23 13:22] tomasonjo opened #1869 "GCP NLP procedures error codes"
The main issue is that GCP entities API returns "400" bad request response when a user inputs text of an unsupported language to the GCP entities request.

Example data:

[code]

The text is in Slovenian. If you run it through GCP entities API.

[code]

The error is:

It seems that this is due to unsupported language. Here is a list of supported languages : https://cloud.google.com/natural-languag

[2021-04-26 22:42] dfgitn4j opened #1871 "apoc.custom.function error on startup"
## Expected Behavior (Mandatory)

No error on startup for apoc.custom.*.   The function does not show up with a call to  apoc.custom.list()
## Actual Behavior (Mandatory)

Don't error.

## How to Reproduce the Problem

1. Take attached dump, unzip and load into a 4.2.5 Neo4j EE database (I used Neo4j Desktop to create this db)
1. Install apoc
1. Start db

### Simple Dataset (where it's possibile)

[2021-04-27 11:47] leonpierre commented on #1831
@vga91 This works! Thank you for your advice!

[2021-04-27 11:47] #1831 closed

[2021-04-27 14:54] voutilad commented on #1871
Simpler reproduction using Neo4j 4.2.5 and APOC 4.2.0.2:

1. Create a new dbms, installing APOC.
2. Connect to the `neo4j` database and run:
[code]
3. Restart the dbms
4. Check the neo4j logs

[code]

[2021-04-27 14:58] voutilad commented on #1871
Probably duplicate of #1744

[2021-04-28 12:14] vga91 opened #1873 "Add a validation in apoc.custom.* output/input parameters"
## Feature description

Currently, the procedures `apoc.custom.asProcedure`, `apoc.custom.asFunction`
have no validation regarding `input` and `output` parameters.

So, it's possible type for example: `CALL apoc.custom.asFunction('function', 'MATCH (t:Node {value : $val}) RETURN t', 'invalid', [['invalid2', 'invalid3']])`.

The expected behavior is to throw an exception for invalid parameters.

[2021-04-28 14:12] rohankharwar opened #1874 "Upgrade json-smart to avoid security issue for Neo4j APOC 3.5 version"
Creating this on behalf of Customer.
They recently upgraded our version of Neo4j to 3.5.27 and along with that have upgraded our apoc plugin to 3.5.0.15-all.

There is a security defect against APOC 3.5.0.15 due to json-smart v2.3 included in the apoc-3.5.0.15-all.jar plugin provided by Neo4j (the CVE is CVE-2021-27568).

The following issue is addressed in the following PR but it is only for 4.x

[2021-04-29 10:13] #1765 closed

[2021-04-29 10:21] #1797 closed

[2021-04-29 15:25] fbiville commented on #27
Feel free to open the issue if you need to clarify how some of the parallel procedures work.

[2021-04-29 15:25] #27 closed

[2021-04-29 15:39] #59 closed

[2021-04-29 15:42] #97 closed

[2021-04-29 15:48] fbiville commented on #103
This seems covered by Fabric: https://neo4j.com/blog/getting-started-with-neo4j-fabric/

[2021-04-29 15:48] #103 closed

[2021-04-29 15:49] fbiville commented on #104
Assuming it was fixed with https://github.com/neo4j-contrib/neo4j-apoc-procedures/pull/1193

[2021-04-29 15:49] #104 closed

[2021-04-29 15:49] fbiville commented on #106
Probably covered by https://neo4j.com/labs/apoc/4.1/virtual/ now?

[2021-04-29 15:49] #106 closed

[2021-04-29 15:51] fbiville commented on #107
Now supported by Neo4j Browser.

[2021-04-29 15:51] #107 closed

[2021-04-29 15:55] fbiville commented on #113
https://neo4j.com/labs/apoc/4.1/overview/apoc.gephi/apoc.gephi.add/ now include a property list as parameter.

[2021-04-29 15:55] #113 closed

[2021-04-29 15:57] JMHReif commented on #117
Do we have specific use cases for compressed and binary data export? I'm trying to think of examples...

[2021-04-29 16:01] fbiville commented on #119
@rvanbruggen it seems GDS has the same limitation. Should we transfer the issue to GDS? What do you think?

[2021-05-03 18:10] JMHReif opened #1877 "Deprecate old style custom function/procedure replaced by newer ones"
Mark the following procedures/functions as deprecated to be removed in a future release:
* apoc.custom.asFunction
* apoc.custom.asProcedure

They are replaced by the following (respectively):
* apoc.custom.declareFunction
* apoc.custom.declareProcedure

Also update any documentation, as needed.

[2021-05-04 18:20] strawberrylunar opened #1879 "When I use neo4j-3.5.12 and apoc-3.5.04(same issue happend with neo4j 4.0.6 and apoc-4.0.1. 16), this happend:"
### Versions

  - OS:linux
  - Neo4j:4.0.6
  - Neo4j-Apoc:4.0.0.16
  -
 When I use 4.1.8-neo4j 和4.1.0.6-apoc, this happened, the same issue happened with 4.0.6-neo4j and 4.0.0.16-apoc, please help me😭

<img width="826" alt="截屏2021-05-05 上午2 20 21" src="https://user-images.githubusercontent.com/39673281/117050869-74936780-ad48-11eb-89dd-8c901ec14702.png">

[2021-05-04 19:23] dfgitn4j commented on #1871
Just tried apoc 4.2.0.3 on a 4.2.5 db per the original problem definition and I still get the same error / unable to start db.  Hence not resolved by #1744 unfortunately

[code]

[2021-05-05 03:57] dbrunnerphq opened #1880 "4.1.0.7 / 4.2.0.3 has no `apoc.coll` package"
## Guidelines
The [latest release (4.2.0.3)](https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases/tag/4.2.0.3) seems to have no `apoc.coll` package.

## Expected Behavior
Can invoke functions within `apoc.coll` successfully

## Actual Behavior
Invoking an `apoc.coll` function, e.g. `apoc.coll.max()` throws a syntax error:
[code]

### Steps

1. Install APOC plugin version `4.2.0.3` in a

[2021-05-05 04:35] InverseFalcon commented on #1880
Thanks for raising this, we're seeing the same thing.

We'll get the bottom of this, in the meantime please use 4.2.0.2.

[2021-05-05 05:59] alexabidri commented on #1880
@InverseFalcon What is the ETA for the fix? Our docker images using neo4j with apoc `NEO4JLABS_PLUGINS='["apoc"]'`.
Thanks for the reply 🙏

[2021-05-05 08:14] conker84 commented on #904
I'm closing this since is managed by the Neo4j Streams Plugin

[2021-05-05 08:14] #904 closed

[2021-05-05 08:14] conker84 commented on #905
It would be great having this into the Neo4j Stream Plugin, please consider a contribution into it, I'm closing this

[2021-05-05 08:14] #905 closed

[2021-05-05 08:23] arxeiss commented on #1880
Same here, same problem. Is there some workaround to tell which version to use? So we can work with older version until the fix will be released?

[2021-05-05 08:38] fbiville commented on #1880
We'll investigate what went wrong and do another release ASAP.

[2021-05-05 08:38] gtoonstra commented on #1880
Could this have leaked into 4.1.0.7 too?  Yesterday I was working on unit tests and things were working. This morning, I started getting:
[code]
That's on neo4j 4.1.3

[2021-05-05 08:39] fbiville commented on #1880
@gtoonstra probably, both were released yesterday, we'll investigate and re-release

[2021-05-05 14:46] #1880 closed

[2021-05-05 18:58] bradenmacdonald opened #1887 "APOC Installation is missing apoc.coll functions"
## Expected Behavior (Mandatory)

I expect to be able to use `apoc.coll` functions like `apoc.coll.flatten`

## Actual Behavior (Mandatory)

I am getting this error in my code:

[code]

My code was working until I upgraded/rebuilt my neo4j docker image.

## How to Reproduce the Problem

The command I ran and the resulting output:

[code]

Output:
[code]

Cypher statements I ran to check what's goi

[2021-05-05 19:50] InverseFalcon commented on #1887
Thanks, this is a duplicate issue.

Please see #1880 where this was first reported. We're in the process of rebuilding and re-releasing now.

[2021-05-05 19:50] #1887 closed

[2021-05-05 22:27] bradenmacdonald commented on #1887
Ah, sorry. I looked first but somehow missed that.

[2021-05-06 14:16] jphoulchand commented on #1374
Closing.

[2021-05-06 14:16] #1374 closed

[2021-05-06 14:23] jphoulchand commented on #1343
This works fine in 4.2. Closing.

[2021-05-06 14:23] #1343 closed

[2021-05-07 16:27] fbiville commented on #1656
I believe the easiest way is to download APOC "fat JAR" (`apoc-XXX-all.jar`), which is currently **not** available from Maven Central, but only from GitHub releases (see https://github.com/neo4j-contrib/neo4j-apoc-procedures/issues/1404 that describes this very issue).

@JMHReif and I hacked together to get this fat JAR and add it to Maven's local cache: https://github.com/fbiville/apoc-testing-ex

[2021-05-11 12:45] h4emp3 opened #1900 "apoc.convert.toJson throws NullPointerException for null values in maps"
Up until v4.2.0.2 (before the merge of #1795) the following query worked fine:

[code]
But since v4.2.0.3 it throws a `NullPointerException` because of the [use of `Collectors.toMap`](https://github.com/neo4j-contrib/neo4j-apoc-procedures/blob/468a208b45e313abf4c2760ba2be0d0ac76698a2/core/src/main/java/apoc/convert/Json.java#L44) which calls `Objects.requireNonNull` for every Map Value.

**EDIT**:

[2021-05-11 23:45] LouisVA opened #1901 "apoc.uuid.install addToExistingNodes does not work"
## Expected Behavior (Mandatory)
When running

`CREATE CONSTRAINT ON (node:Workspace)
ASSERT node.uuid IS UNIQUE;

CALL apoc.uuid.install('Workspace',{addToExistingNodes: true, uuidProperty: 'uuid'})
YIELD label, installed, properties
RETURN count(*);`

in neo4j desktop on my neo4j instance.

- All Workspace nodes are given a uuid.
- Making new nodes with CREATE also automatically gives them a uui

[2021-05-12 08:53] MaxAndersson commented on #1404
See "all" jar  ->  https://repo1.maven.org/maven2/org/neo4j/procedure/apoc/4.2.0.4/

[2021-05-12 08:53] #1404 closed

[2021-05-12 08:58] karunaish opened #1902 "Loading 22 Mil + records into neo4j database via databricks environment"
I am using neo4j spark connector and via databricks environment - I have loaded 22 Mil records into neo4j database and While establishing relationships for this 22mil records with the query

CALL apoc.periodic.iterate('Match (jh:JournalHeader) return jh', 'with jh MATCH (jli:JournalLineItem) where jli.glheader_id = jh.glheader_id MERGE (jh)-[:HAS_PARENT]->(jli)', {batchSize:1000, parallel:false})

[2021-05-12 08:59] fbiville commented on #1656
It appears APOC fat JAR is already in Maven Central, it's just a matter of adding it with the right classifier:
[code]

https://github.com/fbiville/apoc-testing-experiment has been updated. The TestContainers approach works well with Neo4j 4.2 and APOC 4.2. We'll add a test-harness example soon.

[2021-05-12 09:41] conker84 commented on #1902
Hi @karunaish I think you're in the wrong repository,
Please open an issue into the Spark connector repo
https://github.com/neo4j-contrib/neo4j-spark-connector
with the code of your spark job and the structure of your source data frame.
I'm closing this

[2021-05-12 09:41] #1902 closed

[2021-05-12 11:58] SaschaPeukert opened #1903 "Cleanup apoc.meta.*TypeProperties()"
Currently, the code for apoc.meta.nodeTypeProperties() and apoc.meta.relTypeProperties() can use some cleanup. Bonus: APOC does not compile under windows thanks to encoding errors. Will tackle both of these issues with a PR.

[2021-05-12 13:25] conker84 commented on #208
I'm closing this since is outdated

[2021-05-12 13:25] #208 closed

[2021-05-12 13:26] conker84 commented on #1825
fixed with #1404

[2021-05-12 13:26] #1825 closed

[2021-05-12 13:27] conker84 commented on #224
I'm closing this since is outdated

[2021-05-12 13:27] #224 closed

[2021-05-12 13:29] conker84 commented on #223
This should be done via `apoc.path.expand`

[2021-05-12 13:29] #223 closed

[2021-05-12 13:30] conker84 commented on #186
This should be fixed, feel free to reopen it in case the error came back

[2021-05-12 13:30] #186 closed

[2021-05-12 13:31] conker84 commented on #202
I'm closing this as for security reasons we don't want to do that

[2021-05-12 13:31] #202 closed

[2021-05-12 13:32] conker84 commented on #197
Done with apoc keys and `apoc.load.jsonParams`

[2021-05-12 13:32] #197 closed

[2021-05-12 13:33] conker84 commented on #126
This is in the product now

[2021-05-12 13:33] #126 closed

[2021-05-12 13:35] conker84 commented on #231
Closed for lacking of feedback

[2021-05-12 13:35] #231 closed

[2021-05-12 13:35] conker84 commented on #237
Closed as requested

[2021-05-12 13:35] #237 closed

[2021-05-12 13:36] conker84 commented on #238
Fixed in newer versions

[2021-05-12 13:36] #238 closed

[2021-05-12 13:36] conker84 commented on #246
Done in newer releases

[2021-05-12 13:36] #246 closed

[2021-05-12 13:37] conker84 commented on #247
Fixed by #380 feel free to reopen in case you need it

[2021-05-12 13:37] #247 closed

[2021-05-12 13:40] conker84 commented on #251
@jexp can we close this?

[2021-05-12 13:44] conker84 commented on #267
The issue should be solved with the provided procedure, feel free to reopen in case you need it

[2021-05-12 13:44] #267 closed

[2021-05-12 13:44] conker84 commented on #268
This should be part of the product now

[2021-05-12 13:44] #268 closed

[2021-05-12 13:45] conker84 commented on #271
We have merging procs for node and procedures now

[2021-05-12 13:45] #271 closed

[2021-05-12 13:45] conker84 commented on #276
We can closed this as it should be managed by GDS

[2021-05-12 13:45] #276 closed

[2021-05-12 13:46] conker84 commented on #280
Algo procedures are deprecated

[2021-05-12 13:46] #280 closed

[2021-05-12 13:47] conker84 commented on #288
We added the `apoc.periodic.truncate`

[2021-05-12 13:47] #288 closed

[2021-05-12 13:48] conker84 commented on #290
I think this is outdate, feel free to reopen

[2021-05-12 13:48] #290 closed

[2021-05-12 13:49] conker84 commented on #316
closed via 31e28ca

[2021-05-12 13:49] #316 closed

[2021-05-12 13:52] #356 closed

[2021-05-12 13:53] conker84 commented on #497
Done via apoc initializers

[2021-05-12 13:53] #497 closed

[2021-05-12 13:54] conker84 commented on #492
Done via `apoc.meta.graph` and `apoc.meta.data`

[2021-05-12 13:54] #492 closed

[2021-05-12 13:56] conker84 commented on #476
Dove via `apoc.create.virtualPath`

[2021-05-12 13:56] #476 closed

[2021-05-12 13:59] conker84 commented on #477
We just need to use `apoc.path.create` and pass the result to `apoc.convert.toTree`

[2021-05-12 13:59] #477 closed

[2021-05-12 13:59] #456 closed

[2021-05-12 14:00] conker84 commented on #455
done via `apoc.create.vRelationship`

[2021-05-12 14:00] #455 closed

[2021-05-12 14:01] conker84 commented on #448
@InverseFalcon can we close this?

[2021-05-12 14:01] #448 closed

[2021-05-12 14:02] conker84 commented on #450
Done via `apoc.hashing.fingerprinting`

[2021-05-12 14:02] #450 closed

[2021-05-12 14:03] conker84 commented on #444
You can now use `apoc.map.flatten`

[2021-05-12 14:03] #444 closed

[2021-05-12 14:04] conker84 commented on #433
we added the `afterAsync` phase in order to manage these use-cases

[2021-05-12 14:04] #433 closed

[2021-05-12 14:06] conker84 commented on #416
@InverseFalcon is this still valid?

[2021-05-12 14:07] conker84 commented on #408
algo procs are deprecated

[2021-05-12 14:07] #408 closed

[2021-05-12 14:07] conker84 commented on #405
done

[2021-05-12 14:07] #405 closed

[2021-05-12 14:09] conker84 commented on #376
@jexp Is this still valid?

[2021-05-12 14:13] conker84 commented on #365
Looking at the code (and docs) we have the `minLevel` back

[2021-05-12 14:13] #365 closed

[2021-05-12 14:13] conker84 commented on #358
@jexp is this still necessary?

[2021-05-12 14:15] conker84 commented on #500
We have the `cypher-shell` format for exporting data in `apoc.export.cypher`

[2021-05-12 14:15] #500 closed

[2021-05-12 14:17] #612 closed

[2021-05-12 14:17] conker84 commented on #611
@jexp is this still necessary?

[2021-05-12 14:26] conker84 commented on #606
We `apoc.warmup.run` now

[2021-05-12 14:26] #606 closed

[2021-05-12 14:34] conker84 commented on #605
closed via 3558084

[2021-05-12 14:34] #605 closed

[2021-05-12 14:34] conker84 commented on #594
closing as is outdated

[2021-05-12 14:34] #594 closed

[2021-05-12 14:46] conker84 commented on #571
closing for lack of feedback

[2021-05-12 14:46] #571 closed

[2021-05-12 14:47] conker84 commented on #561
now we have fine grade security access into te product

[2021-05-12 14:47] #561 closed

[2021-05-12 14:48] conker84 commented on #559
@jimanvlad did you solve the issue?

[2021-05-12 14:51] conker84 commented on #557
unfortunately there isn't a native way to represent collections into graphml

[2021-05-12 14:51] #557 closed

[2021-05-12 14:51] conker84 commented on #536
related to #583

[2021-05-12 14:52] #583 closed

[2021-05-12 14:52] conker84 commented on #583
related to #536

[2021-05-12 14:53] conker84 commented on #538
we new have `onCreateProps` and `onMatchProps`

[2021-05-12 14:53] #538 closed

[2021-05-13 08:06] conker84 commented on #556
fixed as highlited in #840

[2021-05-13 08:08] conker84 commented on #590
closed via eeed4e1

[2021-05-13 08:08] #590 closed

[2021-05-13 08:11] conker84 commented on #556
looking better it may be worth of a double check

[2021-05-13 08:17] conker84 commented on #534
Indexes are now managed by the product

[2021-05-13 08:17] #534 closed

[2021-05-13 08:18] conker84 commented on #521
we now have `apoc.create.vPattern` and `apoc.path.create`

[2021-05-13 08:18] #521 closed

[2021-05-13 08:19] conker84 commented on #517
I'm closing this as seems not a real bug

[2021-05-13 08:19] #517 closed

[2021-05-13 08:21] conker84 commented on #515
@jexp is this still valid?

[2021-05-13 08:21] conker84 commented on #511
We added validation rules into Periodic procedures

[2021-05-13 08:21] #511 closed

[2021-05-13 08:22] conker84 commented on #457
duplicated of #558

[2021-05-13 08:22] #457 closed

[2021-05-13 08:24] conker84 commented on #751
we improved the error management, feel free to reopen if you want

[2021-05-13 08:24] #751 closed

[2021-05-13 08:26] conker84 commented on #750
algo procedures are deprecated, feel free to reopen if I misunderstood the request

[2021-05-13 08:26] #750 closed

[2021-05-13 08:28] conker84 commented on #749
we improved the documentation:
https://neo4j.com/labs/apoc/4.1/virtual/virtual-graph/

feel free to reopen in case you need additional info

[2021-05-13 08:28] #749 closed

[2021-05-13 08:30] conker84 commented on #729
Closed for lack of feedback, feel free to reopen it

[2021-05-13 08:30] #729 closed

[2021-05-13 08:30] conker84 commented on #717
algo procedures are deprecated

[2021-05-13 08:30] #717 closed

[2021-05-13 08:31] conker84 commented on #707
Index procedures are deprecated

[2021-05-13 08:31] #707 closed

[2021-05-13 08:32] conker84 commented on #706
closed via 3558084

[2021-05-13 08:32] #706 closed

[2021-05-13 08:34] conker84 commented on #696
closed as has been fixed in newer Neo4j release

[2021-05-13 08:34] #696 closed

[2021-05-13 08:34] #678 closed

[2021-05-13 08:35] conker84 commented on #668
I'm closing this as it's quite old

[2021-05-13 08:35] #668 closed

[2021-05-13 08:36] conker84 commented on #670
we now have `apoc.export.xls` and `apoc.load.xls`

[2021-05-13 08:36] #670 closed

[2021-05-13 08:40] conker84 commented on #648
closing this as it has been moved in done into the wall

[2021-05-13 08:40] #648 closed

[2021-05-13 08:42] conker84 commented on #627
This should be fixed now

[2021-05-13 08:42] #627 closed

[2021-05-13 08:44] conker84 commented on #846
Seems not a real bug, feel free to reopen in case you have more info

[2021-05-13 08:44] #846 closed

[2021-05-13 08:46] conker84 commented on #817
now you can leverage lucene indexes via the product, I'm closing this.

[2021-05-13 08:46] #817 closed

[2021-05-13 08:47] conker84 commented on #815
Closing this as it doesn't seem a real bug

[2021-05-13 08:47] #815 closed

[2021-05-13 08:51] conker84 commented on #808
I this should not been done into APOC if there is more demand please add +1 and we're happy to work on it

[2021-05-13 08:51] #808 closed

[2021-05-13 08:52] conker84 commented on #803
Closing for lack of feedback

[2021-05-13 08:52] #803 closed

[2021-05-13 08:53] conker84 commented on #802
Closed for lack of feedback

[2021-05-13 08:53] #802 closed

[2021-05-13 08:55] conker84 commented on #801
Closed as we have a valid answer

[2021-05-13 08:55] #801 closed

[2021-05-13 08:57] conker84 commented on #799
Closed for lack of feedback

[2021-05-13 08:57] #799 closed

[2021-05-13 08:58] conker84 commented on #792
Indexes are now part of the product, I'm closing this

[2021-05-13 08:58] #792 closed

[2021-05-13 09:00] conker84 commented on #791
@jexp @moxious is this still valid?

[2021-05-13 09:02] conker84 commented on #784
Closing for lack of feedback, feel free to reopen in case you have more info

[2021-05-13 09:02] #784 closed

[2021-05-13 09:52] conker84 commented on #766
@jexp can you elaborate this a little bit?

[2021-05-13 09:54] conker84 commented on #759
Closing this as we have a valid answer

[2021-05-13 09:54] #759 closed

[2021-05-13 09:59] conker84 commented on #1015
I'm closing this as it's quite old, feel free to reopen it in case the bug is still there in newer versions

[2021-05-13 09:59] #1015 closed

[2021-05-13 10:03] conker84 commented on #1013
closing for lack of feedback

[2021-05-13 10:03] #1013 closed

[2021-05-13 10:04] conker84 commented on #1012
closed via 62ff912

[2021-05-13 10:04] #1012 closed

[2021-05-13 10:33] conker84 commented on #979
This should be done now, feel free to reopen in case it doesn't

[2021-05-13 10:33] #979 closed

[2021-05-13 10:33] conker84 commented on #978
closed for lack of feedback

[2021-05-13 10:33] #978 closed

[2021-05-13 10:34] conker84 commented on #1006
this can be done via product now

[2021-05-13 10:34] #1006 closed

[2021-05-13 10:36] conker84 commented on #999
This can be done in GDS now

[2021-05-13 10:36] #999 closed

[2021-05-13 10:39] conker84 commented on #996
this should be fixed by #1814 feel free to reopen in case the bug come back!

[2021-05-13 10:39] #996 closed

[2021-05-13 10:40] conker84 commented on #965
this should be fixed via #1193, feel free to reopen in case the error come back

[2021-05-13 10:40] #965 closed

[2021-05-13 10:41] #926 closed

[2021-05-13 10:48] conker84 commented on #914
We now have:

- `apoc.graph.fromPath`
- `apoc.graph.fromPaths`

We need:

- `apoc.create.vPath(path)`
- `apoc.create.vPaths(paths)`

[2021-05-13 10:49] conker84 commented on #908
closed via 3929ec8

[2021-05-13 10:49] #908 closed

[2021-05-13 10:49] conker84 commented on #902
this is in the product now

[2021-05-13 10:49] #902 closed

[2021-05-13 10:51] conker84 commented on #885
closed via 5c8c827

[2021-05-13 10:51] #885 closed

[2021-05-13 10:53] conker84 commented on #877
now we can handle these cases with config map

[2021-05-13 10:53] #877 closed

[2021-05-13 10:54] conker84 commented on #868
closed as it's solved

[2021-05-13 10:54] #868 closed

[2021-05-13 10:55] conker84 commented on #867
Use GDS now, APOC algo are deprecated

[2021-05-13 10:55] #867 closed

[2021-05-13 10:55] conker84 commented on #848
Fixed in newer versions

[2021-05-13 10:55] #848 closed

[2021-05-13 10:56] conker84 commented on #1133
Now we have it

[2021-05-13 10:56] #1133 closed

[2021-05-13 10:58] conker84 commented on #1108
done in #1825

[2021-05-13 10:58] #1108 closed

[2021-05-13 11:01] conker84 commented on #1080
done in #1202

[2021-05-13 11:01] #1080 closed

[2021-05-13 11:02] conker84 commented on #1069
@sarmbruster I'm closing this feel free to reopen in case you need it

[2021-05-13 11:02] #1069 closed

[2021-05-13 11:04] conker84 commented on #1068
we added the onClose management

[2021-05-13 11:04] #1068 closed

[2021-05-13 11:13] #791 closed

[2021-05-13 12:23] #1026 closed

[2021-05-13 12:24] conker84 commented on #1263
fixed in newer versions

[2021-05-13 12:24] #1263 closed

[2021-05-13 12:25] conker84 commented on #1238
@umuzammil is this still valid?

[2021-05-13 12:31] conker84 commented on #1228
I'm closing this due to lack of feedback

[2021-05-13 12:31] #1228 closed

[2021-05-13 12:33] conker84 commented on #1216
I'm closing this due to lack of feedback, feel free to reopen in with new details

[2021-05-13 12:33] #1216 closed

[2021-05-13 12:35] conker84 commented on #1189
closed via b019b93

[2021-05-13 12:35] #1189 closed

[2021-05-13 12:38] conker84 commented on #1184
@fbiville any news on this?

[2021-05-13 12:41] conker84 commented on #1167
@neils-s you can use `cURL` in windows too, and you can replace `grep` with `findstr`

[2021-05-13 12:41] #1167 closed

[2021-05-13 12:46] conker84 commented on #1139
we now have examples

[2021-05-13 12:46] #1139 closed

[2021-05-13 13:06] #1323 closed

[2021-05-13 13:08] conker84 commented on #1297
now they are generated by the release pipeline

[2021-05-13 13:08] #1297 closed

[2021-05-13 13:09] conker84 commented on #1295
@jexp is this still valid?

[2021-05-13 13:10] conker84 commented on #1292
closed for lack of feedback

[2021-05-13 13:10] #1292 closed

[2021-05-13 13:11] #1286 closed

[2021-05-13 13:20] conker84 commented on #1285
We now have in it

[2021-05-13 13:20] #1285 closed

[2021-05-13 13:23] conker84 commented on #1264
Now we have them documented

[2021-05-13 13:23] #1264 closed

[2021-05-13 13:26] conker84 commented on #1282
@tkirsten I'm closing this due to lack of feedback, feel free to reopen in case you need it

[2021-05-13 13:26] #1282 closed

[2021-05-13 13:26] conker84 commented on #1443
fixed by #1794

[2021-05-13 13:26] #1443 closed

[2021-05-13 13:29] conker84 commented on #1430
@Dcanzano can you please check this in newer versions? This should be fixed now

[2021-05-13 13:30] conker84 commented on #1420
the docs are updated

[2021-05-13 13:30] #1420 closed

[2021-05-13 13:31] conker84 commented on #1419
closed via acb3ad1

[2021-05-13 13:31] #1419 closed

[2021-05-13 13:32] conker84 commented on #1417
closed via  acb3ad1

[2021-05-13 13:32] #1417 closed

[2021-05-13 13:34] conker84 commented on #1413
this should be fixed in newer versions

[2021-05-13 13:34] #1413 closed

[2021-05-13 13:36] conker84 commented on #1396
@jexp can you provide a simple use-case?

[2021-05-13 13:38] conker84 commented on #1390
closed via 405b512

[2021-05-13 13:38] #1390 closed

[2021-05-13 13:40] conker84 commented on #1382
Now we can use the `USE` 😄 syntax (https://neo4j.com/docs/cypher-manual/current/clauses/use/)

[2021-05-13 13:40] #1382 closed

[2021-05-13 15:40] conker84 commented on #1371
closed as a valid answer has been provided

[2021-05-13 15:40] #1371 closed

[2021-05-13 15:41] conker84 commented on #1550
Fixed

[2021-05-13 15:41] #1550 closed

[2021-05-13 15:42] conker84 commented on #1544
@vga91 will be this fixed by #1898?

[2021-05-13 15:47] conker84 commented on #1543
closed for lack of feedback, feel free to reopen in case you have more info

[2021-05-13 15:47] #1543 closed

[2021-05-13 15:49] conker84 commented on #1542
@ramansubramani I think you're in the wrong repo, feel free to reopen in case you have more info

[2021-05-13 15:49] #1542 closed

[2021-05-13 15:49] vga91 commented on #1544
@conker84 Yes, right.

[2021-05-13 15:51] conker84 commented on #1509
Done in #1823

[2021-05-13 15:51] #1509 closed

[2021-05-13 15:52] conker84 commented on #1492
@ghost you can download the fat jar for XLS support in the release section or by clicking on this link:
https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases/download/4.2.0.4/apoc-xls-dependencies-4.2.0.4.jar

[2021-05-13 15:52] #1492 closed

[2021-05-13 15:54] conker84 commented on #1466
closed for lack of feedback, feel free to reopen it in case you have more info to share

[2021-05-13 15:54] #1466 closed

[2021-05-13 15:57] conker84 commented on #1452
closed for lack of feedback, feel free to reopen in case you have more info

[2021-05-13 15:57] #1452 closed

[2021-05-13 16:00] conker84 commented on #1670
Closed for lack of feedback

[2021-05-13 16:00] #1670 closed

[2021-05-13 16:11] conker84 commented on #1653
done in #1825

[2021-05-13 16:11] #1653 closed

[2021-05-13 16:12] conker84 commented on #1568
closed via 1d6c032

[2021-05-13 16:12] #1568 closed

[2021-05-13 16:14] conker84 commented on #1782
This should be fixed in the branch `3.5` but not yet released, feel free to build it from the source.
Reopen this if the error come back

[2021-05-13 16:14] #1782 closed

[2021-05-13 16:15] conker84 commented on #1774
this is not an APOC issue, but it's a limitation of the HTTP endpoint, we cannot do much by our side sorry, please open an issue into the Neo4j repository

[2021-05-13 16:15] #1774 closed

[2021-05-13 16:15] conker84 commented on #1769
this should be fixed, feel free to reopen in case it come back

[2021-05-13 16:15] #1769 closed

[2021-05-13 16:16] conker84 commented on #1768
this should be fixed, feel free to reopen in case it come back

[2021-05-13 16:16] #1768 closed

[2021-05-13 16:16] conker84 commented on #1730
closed via
74c739c

[2021-05-13 16:16] #1730 closed

[2021-05-13 16:18] conker84 commented on #1729
this should be adressed now, feel free to reopen in case it come back

[2021-05-13 16:18] #1729 closed

[2021-05-13 16:19] conker84 commented on #1704
@edacker ping

[2021-05-13 16:20] conker84 commented on #1703
closed for lack of feedback, feel free to reopen in case you have more info

[2021-05-13 16:20] #1703 closed

[2021-05-13 16:20] #1683 closed

[2021-05-13 16:20] conker84 commented on #1679
this should be fixed now, feel free to reopen in case it come back

[2021-05-13 16:20] #1679 closed

[2021-05-13 16:21] conker84 commented on #1714
closed via 1bef1b4

[2021-05-13 16:21] #1714 closed

[2021-05-13 16:21] #1728 closed

[2021-05-13 16:22] conker84 commented on #1879
@strawberrylunar can you provide the md5 of the apoc jar?

[2021-05-13 16:23] conker84 commented on #1815
closed via e1939eb

[2021-05-13 16:23] #1815 closed

[2021-05-13 19:37] Jhakiz commented on #286
Hello!! I had the same issue with **apoc.do.when**; i edited **neo4j.conf** the configuration file.
I changed:
`dbms.security.procedures.allowlist=apoc.coll.*,apoc.load.*,gds.*`
to
`dbms.security.procedures.allowlist=apoc.coll.*,apoc.do.*,apoc.load.*,gds.*`.

Just adding **apoc.do.*** in allowlist.

[2021-05-14 08:10] #1828 closed

[2021-05-14 08:11] conker84 commented on #1828
closed for lack of feedback

[2021-05-14 08:38] strawberrylunar commented on #1879
<img width="649" alt="截屏2021-05-14 下午4 38 21" src="https://user-images.githubusercontent.com/39673281/118244999-ce2b2d00-b4d2-11eb-8110-9bc0e14dbf3a.png">
Thanks for your help!

[2021-05-14 12:22] conker84 commented on #1879
Your file is corrupted, a good one must have `247fe0b305f6cda604961e3881048a67`, btw please update to 4.0.0.17:

https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases/download/4.0.0.17/apoc-4.0.0.17-all.jar

the md5 should be `a637a134db2cf4f1751c6fe09541242a`

[2021-05-14 15:37] strawberrylunar commented on #1879
Last time, I download by  "crul -O". After read your reply ,I try to download apoc file in my computer and transfer it by a PTF Client.  The md5 is right this time. Thanks a lot !!!!!

[2021-05-14 15:37] strawberrylunar commented on #1879
Last time, I download by "crul -O". After read your reply ,I try to download apoc file in my computer and transfer it by a PTF Client. The md5 is right this time. Thanks a lot !!!!!

[2021-05-14 15:37] #1879 closed

[2021-05-17 10:35] vga91 opened #1906 "Procedure `apoc.meta.subgraph` return wrong type with `includeLabels` not existent"
## Expected Behavior (Mandatory)

Should return `nodes: []` and `relationships: []`

## Actual Behavior (Mandatory)

The procedure returns a node with dataset total count.

## How to Reproduce the Problem

### Simple Dataset (where it's possibile)

[code]

### Steps (Mandatory)

  1. `CALL apoc.meta.subGraph({labels:["Test"],rels:[],excludes:[]})`
  2. Returns a `"Test"` node with count 2, even if

[2021-05-17 12:57] vga91 commented on #1906
Related to #1491 (Same root cause, but without rels)

[2021-05-17 19:05] gitclem opened #1909 "Plugin Install button is dimmed and it's hard to determine how to undim it."
## Expected Behavior (Mandatory)
To be easily able to install the APOC plug in

## Actual Behavior (Mandatory)
The `Install` button is dimmed for no apparent reason.  Hovering over the button shows "Offline Mode Enabled", which seems irrelevant to me.

Other [people have encountered this problem](https://community.neo4j.com/t/graphql-install-button-greyed-out/8107/7), so it seems like it's a candi

[2021-05-17 19:27] davidlrosenblum commented on #1909
Try with 1.4.5

[2021-05-17 20:06] gitclem commented on #1909
Switching to Browser 1.4.5 made the problem go away.  Thanks.

[2021-05-17 20:06] #1909 closed

[2021-05-18 09:20] vga91 commented on #1467
@kubaizak
I was unable to replicate the problem, the procedure returns `(p:Person {name: "Mark"})` and `(p:Person {name: "Joe"})`.
Can you try with the latest APOC version?

[2021-05-20 15:15] tomasonjo opened #1910 "apoc.meta.stats return false relationship count when having multi-labeled nodes"
If you have multi-labeled nodes in a graph, the `apoc.meta.stats` procedure return false information about relationship count.

Example dataset:

[code]

We can then run the apoc.meta.stats procedure

[code]

The results are actually quite weird:

![results_stats](https://user-images.githubusercontent.com/19948365/119004318-bcdc9780-b98e-11eb-944d-7d8bd468fa2e.png)

I guess the global number of re

[2021-05-20 15:42] beslu opened #1911 "apoc.load.directory path to directory not read correctly"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
CALL apoc.load.directory('*.JSON', 'file:///C:/Users/BESLU/OneDrive - Equinor/NeoDa

[2021-05-20 21:07] InverseFalcon commented on #1910
Thanks for reporting, we'll look into it.

In the meantime try using the counts in `relTypes`, though be aware that several of those are going to be referring to the same relationship, as it's looking for path matches considering varied labels on start and end nodes. You should at least see a `"()-[:REL]->()": 2` entry.

[2021-05-21 08:38] umuzammil commented on #1238
Hi @conker84 yes it is. Above is for Neo4j version 3.5 (APOC 3.5.0.x) and there have been no announcements since that the planner switch option for APOC queries is achievable in later versions. Thanks

[2021-05-24 08:17] alizadehei opened #1913 "APOC Installation is missing apoc.coll and some other functions"
I have:
Neo4j- 4.2.4
Apoc - 4.2.0.4

I see some APOC proc/fun installed, but many not.

### Versions

  - OS: ubuntu 20.4
  - Neo4j: 4.2.4
  - Neo4j-Apoc: 4.2.0.4

[2021-05-24 09:23] conker84 opened #1914 "Improve apoc.periodic.iterate docs"
there are many people who have issues with periodic iterate in 4.x when you return nodes and rels from the driving statement and then update them in the update statement.
Since 4.x that might cause the actual change data to be attached to the outer transaction.
So one solution here is to just return id(n) or id(r) from the  first query and look them up again in the inner query (e.g. where id(n) =

[2021-05-27 09:08] yinlei168 opened #1921 "can I update release from apoc-4.0.0.15-all.jar to apoc-4.0.0.18-all.jar with neo4j online, no need to restart?"
Can I update release from apoc-4.0.0.15-all.jar to apoc-4.0.0.18-all.jar with neo4j online, no need to restart? As I tested, it works and show the new apoc version if I place new version apoc jar file in the plugin folder and restart the neo4j database server. But it does not work and apoc version remains old version if I did not restart the neo4j. As it's production, we'd better avoid retarting.

[2021-05-27 13:02] vga91 opened #1925 "Relationships in apoc.meta.schema can have wrong "type" result with a relatively small sample"
With a small sample (relatively to dataset size), some relationships have `"type": "node"`

## Expected Behavior (Mandatory)

All rels with  `"type": "relationships"`

## How to Reproduce the Problem

### Simple Dataset (where it's possibile)

[code]

### Steps (Mandatory)

  1. `Call apoc.meta.schema({sample: 2})`

### Versions

  - OS: Mac
  - Neo4j: 4.2.6
  - Neo4j-Apoc: 4.2.0.4

[2021-05-27 18:55] xiajing10 opened #1934 "Failed to invoke procedure `apoc.meta.schema` : Caused by: java.lang.NullPointerException"
## Specifications (Mandatory)
Cannot run `CALL apoc.meta.schema()` in browser

Error
[code]

### Versions

  - OS: Windows 10
  - Neo4j: browser 4.2.6
  - Neo4j-Apoc: 4.2.0.4

[2021-05-28 07:57] #1829 closed

[2021-05-28 15:48] fbiville opened #1936 "Document coding style rules"
Target: `CONTRIBUTING.md`.

Ideally, automate it. Possible options for that:
 - https://editorconfig.org/
 -  IntelliJ settings JAR
 - ...

 Ideally, the automated coding style generates as little change as possible in the codebase.

[2021-05-28 16:14] #1900 closed

[2021-05-28 16:18] #1480 closed

[2021-05-29 08:35] conker84 commented on #1921
@yinlei168, unfortunately, is not possible if your deployment is a single node instance you will have to plan a service maintenance period, but if you have a cluster instance you can restart one node at a time have zero downtime of your application.
I'm closing this

[2021-05-29 08:35] #1921 closed

[2021-05-29 08:42] conker84 commented on #1913
@alizadehei I just tried, with your same version and they are in there.
Maybe you're calling what you thing is a procedure/func but instead is a func/procedure.
Please lemme know which prcedure/func are you looking for

[2021-05-29 11:28] conker84 commented on #1871
@vga91 is this fixed?

[2021-05-29 12:12] conker84 commented on #1850
@vga91 is this fixed?

[2021-05-31 09:01] baptistegh opened #1943 "Cannot load json (ClassNotFound)"
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)

It should load the json into a map.

## Actual Behavior (Mandatory)

Got a Java er

[2021-05-31 09:54] conker84 commented on #1913
Closing this for lack of feedback, feel free to reopen in case you have more info to share

[2021-05-31 09:54] #1913 closed

[2021-05-31 10:00] baptistegh commented on #1943
I'm not using -all.jar

[2021-05-31 10:00] #1943 closed

[2021-05-31 11:56] taseroth opened #1944 "Provide MD5 hash for the downloadable artefacts"
Currently, the https://github.com/neo4j-contrib/neo4j-apoc-procedures/releases/ page does not provide MD5 hashed for the artefacts.

Having the hashes there or on https://neo4j.com/labs/apoc/4.2/installation/ would enable users to check the integrity of the downloaded files.

[2021-06-01 04:23] alizadehei commented on #1913
There are many functions. For example:‌ apoc.coll

[2021-06-01 19:50] rohankharwar commented on #1874
Hi @conker84 can you confirm which APOC 3.5 is this available in. I did not find the release. Thanks.

[2021-06-01 20:43] jameswylyreasint opened #1947 "Initializing secondary database in apoc initializers results in cryptic "Unsupported component state for 'multi-database'" error"
## Expected Behavior (Mandatory)
Upon initialization of the system database, a second database should be created via the direct commands on the system db.

## Actual Behavior (Mandatory)
An exception is thrown and execution is terminated. "Unsupported component state for 'multi-database': The sub-graph is unsupported because it is too old, this component cannot function" (This is similar in struct

[2021-06-01 22:17] jameswylyreasint commented on #1947
From digging further into some source the issue seems to be coming from [here](https://github.com/neo4j/neo4j/blob/4.1/community/neo4j/src/main/java/org/neo4j/dbms/database/DefaultSystemGraphComponent.java#L64)  where a query is being made to the system database for some default nodes.... and somehow these nodes are not in place  when using this initializer command.

[2021-06-01 22:34] ivangreene commented on #1947
I have debugged this and found that this is ultimately due to the status being UNSUPPORTED here: https://github.com/neo4j/neo4j/blob/4.1/community/neo4j/src/main/java/org/neo4j/dbms/database/DefaultSystemGraphComponent.java#L64
The check of hasDatabaseNode (any node with label Database exists) is true, but the check of hasSystemDatabaseNode (node with label Database and 'name' of 'system' exists)

[2021-06-02 14:50] ElizavetaNosova commented on #397
What does the line  "WITH * LIMIT 1" do?

[2021-06-02 17:12] PascalStehling opened #1948 "Multi Char string not useable for splitting values in apoc.load.csv"
## Expected Behavior (Mandatory)
When Loading the the following file:

Split
Stay;Together
Is;;Splitted

with:
[code]

The result should be:

0 | {   "Split": [     "Stay;Together"   ] }
1 | {   "Split": [     "Is", "Splitted"   ] }

## Actual Behavior (Mandatory)

But actually the following result happens:
0 | {   "Split": [     "Stay", "Together"   ] }
1 | {   "Split": [     "Is", "", " Splitted

[2021-06-03 07:54] vga91 commented on #1325
@andrewswanton
To resolve this problem you can use the `apoc.static.*` procedures https://neo4j.com/labs/apoc/4.2/overview/apoc.static/.
So, for example, to call a jdbc with user and password you can execute:
[code]
where `apoc.static.jdbc.<key>.user` and `apoc.static.jdbc.<key>.password` are set via `apoc.static.set(..)` or `apoc.conf`

[2021-06-03 09:38] vga91 opened #1949 "The procedure `apoc.export.xls.graph` fails with 100+ nodes"
## Expected Behavior (Mandatory)

The procedure should work correclty.

## Actual Behavior (Mandatory)

[code]

## How to Reproduce the Problem

### Simple Dataset (where it's possibile)

[code]

### Steps (Mandatory)

[code]

### Versions

  - OS: Mac OSX
  - Neo4j: 4.2.6
  - Neo4j-Apoc: 4.2.0.4

[2021-06-03 14:40] fbiville opened #1952 "`apoc.meta.stats` for 4.1.0.8 fails whereas 4.1.0.3 succeeds when a rel is back ticked"
_[reported by a customer]_

Neo4j Version:   4.1.3
APOC Version: 4.1.0.8

[code]

results in

[code]

[2021-06-03 15:37] #1749 closed

[2021-06-03 15:45] vga91 opened #1956 "CALL apoc.meta.stats fails with labels with ':'"
## Actual Behavior (Mandatory)

`labels` field is empty.

## How to Reproduce the Problem

### Simple Dataset (where it's possibile)

[code]

### Steps (Mandatory)

  1. `CALL apoc.meta.stats();`

[2021-06-03 16:11] #1877 closed

[2021-06-03 17:32] tlarsen7572 opened #1959 "apoc.text.sorensenDiceSimilarity() returns wrong score in certain cases"
## Expected Behavior

The values 'aa' and 'aaaaaa' should have a sorensen-dice coefficient score of 0.333333

## Actual Behavior

The actual scrore returned by apoc.text.sorensenDiceSimilarity is 1.6666667

## How to Reproduce the Problem

### Steps

  1. Run `RETURN apoc.text.sorensenDiceSimilarity("aa","aaaaaa")`

## Specifications

### Versions

  - OS: Windows 10
  - Neo4j: 4.2.6
  - Neo4j-Apo

[2021-06-04 07:45] conker84 opened #1962 "Cherry-Pick Commits to dev"
In this issue we collect the failed auto cherry-pick operations for branch `dev`.

Please don't edit or close it.

[2021-06-04 07:45] conker84 commented on #1962
The failed commit ids are:

[2021-06-04 10:17] #1952 closed

[2021-06-04 14:05] jexp opened #1972 "Package sqlite jdbc driver so that we can point to any sqlite file to load data from."
See
https://2016.padjo.org/tutorials/sqlite-data-starterpacks/

Also we could consider packaging the jdbc drivers for mysql and postgres.

need to look at file sizes

[2021-06-05 17:58] IkKan commented on #1152
+1 for this.
I was trying to call apoc.es.post() with node properties on delete...

[2021-06-07 13:20] magaton commented on #1453
I have exactly the same problem.
Neo4j 4.2.4, apoc, 4.2.0.4
When I run cypher within trigger, all is good, but trigger never completes (phase: 'after')

[2021-06-08 09:37] YMA-MDL opened #1975 "apoc.load.csv seems to encode twice the url provided"
## Expected Behavior
We are uploading loading CSV files and it worked until 4.2.0.2 (not tested in 4.2.0.3)

[code]
## Actual Behavior (Mandatory)
in 4.2.0.4, we get an error from s3 with an issue with the URL.
the URL returned by s3 has all the %2F converted into %252F
It seems like there is a double encoding.

### Versions

  - OS: windows / nodejs
  - Neo4j: 4.2.5
  - Neo4j-Apoc: 4.2.0.4 (the p

[2021-06-08 12:13] YMA-MDL commented on #1975
Having done more test with previous version, we experienced the same issue. I'll close it for now since I can really be sure this is an APOC issue.

[2021-06-08 12:13] #1975 closed

[2021-06-08 13:43] rjbaucells commented on #1871
I can confirm the error is still present in apoc-4.2.0.1

[2021-06-08 22:49] conker84 opened #1979 "Add a roundtrip example for `apoc.export.csv` & `apoc.import.csv`"
Using the `bulkImport: true` config in both procedures

[2021-06-10 10:25] conker84 commented on #1325
Closing this as the solution has been posted

[2021-06-10 10:25] #1325 closed

[2021-06-10 10:26] conker84 commented on #1325
Feel free to reopen in case you have more info to share

[2021-06-10 10:26] conker84 commented on #1956
closed via 0a67705

[2021-06-10 10:26] #1956 closed

[2021-06-10 13:14] #1612 closed

[2021-06-11 09:44] simo1000k opened #1984 "apoc.custom.asProcedure() with UNWIND"
How use UNWIND in a apoc.customs.asProcedure()? How call the parameter for the function?
I need to create a procedure for this

MATCH (pr:Home{home_id:'6ef77b'})
UNWIND [{domain:"domain1.com", email: "some@email.com"}, {domain:"domain3.com", email: "some03@email.com"}] AS arr
CREATE (i:Information)
SET i=arr
CREATE (i) -[:HAS] -> (pr);

this works but I don't know how to create an apoc procedure f

[2021-06-11 14:56] #1901 closed

[2021-06-11 15:37] #1959 closed

[2021-06-13 21:04] vga91 opened #1995 "Unclear error message with some apoc.create.* procedures/functions with null nodes"
## Expected Behavior (Mandatory)

A clear error message.

## How to Reproduce the Problem

For example with `apoc.create.vRelationship`

### Steps (Mandatory)

[code]

We receive this:

<img width="1410" alt="Schermata 2021-06-13 alle 16 34 56" src="https://user-images.githubusercontent.com/25103389/121821780-88ad7b80-cc9b-11eb-8840-3f86f0ffeaa9.png">

With this log:
`ERROR Client triggered an une

[2021-06-14 07:41] vga91 commented on #1984
@simo1000k
To create a custom procedure with a parameter, assuming the parameter is `home_id`,
you can write this (note the 3rd parameter as "WRITE", to execute a `CREATE` statement):
[code]

and then type:
`CALL custom.myProcedure({param: "6ef77b"})`.

Let me know if that is what you need.

[2021-06-14 07:52] simo1000k commented on #1984
Thanks, but I need to pass parameter of UNWIND to create multiple node dynamically

[2021-06-14 08:52] vga91 commented on #1984
Ok, so if I understand correctly, you can do:

[code]

and then pass the parameter:
`CALL custom.unwindProcedure({unwindParam: [{domain:"test.com", email: "test@email.com"}]})`.

[2021-06-14 09:12] simo1000k commented on #1984
Which type should I write for "arr" in the function?

CALL apoc.custom.asProcedure("unwindProcedure",
'MATCH (pr:Home{home_id: "6ef77b"})
UNWIND $unwindParam AS arr
CREATE (i:Information)
SET i=arr
CREATE (i) -[:HAS] -> (pr)
RETURN pr,i;", "write", [['pr','Node'], ['i','Node']], [['home_id','String'],['arr','??']])
)

I tried ['arr', 'LIST OF MAP'] but don't works

[2021-06-14 10:10] vga91 commented on #1984
If you want to specify the type in "inputs" parameter,
you have to pass the "unwindParam", so the procedure would become:
[code]
and, in this case would be called in this way (without specifying `unwindParam : [LIST]`, but only with `LIST`):
[code]

[2021-06-14 10:25] simo1000k commented on #1984
It works! Thank you so much!

[2021-06-14 10:25] #1984 closed

[2021-06-15 11:44] ElaineRosenberg opened #1998 "Images need to be corrected on this page of the doc"
https://neo4j.com/labs/apoc/4.1/graph-updates/graph-refactoring/invert-relationship/

[2021-06-15 14:35] #1372 closed

[2021-06-16 10:38] conker84 opened #2013 "Move HDFS deps to external-dependencies"
Move HDFS deps to external-dependencies and upgrade to the last apis,

This blocks us to update guava deps

[2021-06-16 11:46] fbiville opened #2014 "`apoc.cypher.runSchema()` missing in APOC core 4.2.0.4"
Calling:
[code]
results in:
[code]

The procedure is not loaded:
[code]
[code]

[2021-06-16 11:52] fbiville commented on #2014
After further analysis, this procedure was indeed gone in `4.2.0.4` but reinstated with c469c25ae4866876f42c46982fd1d428c94cc4d2, which is not part of any release yet.

[2021-06-16 11:55] fbiville commented on #2014
I believe we just need to publish a 4.2.0.5 release.

[2021-06-16 11:55] #2014 closed

[2021-06-16 13:30] vga91 opened #2015 "Various bugs with Neo4j 4.3 indexes"
With relationship and lookup indexes, there are some problems:

### Steps (Mandatory)

1. `apoc.meta.data` the relations give `indexed = false` even if there are indexes
2. `apoc.meta.schema` there isn't the `indexed` field with relationships
3. `apoc.schema.nodes` displays both indexes on nodes and relations, while `apoc.schema.relationships` does not display indexes
4. `apoc.schema.assert` does

[2021-06-17 10:04] vga91 opened #2016 "Add `apoc.schema.relationship.indexExists` function"
Add `apoc.schema.relationship.indexExists` function, similar to `apoc.schema.node.indexExists`,
for branch `4.3`.

[2021-06-17 14:04] rweverwijk commented on #1744
@vga91 I think the same bug is in version 4.2, I'm thinking about reapplying your changes on the 4.2 branch as well. What do think?

[2021-06-18 14:52] #1351 closed

[2021-06-18 15:14] #1824 closed

[2021-06-18 15:15] #1838 closed

[2021-06-18 20:46] ElaineRosenberg opened #2024 "Fix doc per this document"
User sent this PDF with recommended fixes to the doc
[[errata]neo4j_apoc_graphGrouping.pdf](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/6679299/errata.neo4j_apoc_graphGrouping.pdf)

[2021-06-19 09:43] conker84 opened #2025 "Check transaction guard in `apoc.import.json`"
Try with this in order to reproduce it
[code]

Check constraints, at least it should output the necessary constraints and abort if they don't exist

[2021-06-21 14:12] JMHReif opened #2027 "Remove algos docs from 4.1 and 4.2"
Docs page for APOC algos still shows they will be deprecated when they should already be.

Page: https://neo4j.com/labs/apoc/4.2/algorithms/

Need to remove the docs (and remaining algos) from the library.

[2021-06-23 07:23] #1911 closed

[2021-06-23 08:24] #1744 closed

[2021-06-24 07:39] vga91 opened #2032 "The procedure apoc.custom.declareFunction does not work correctly with single character parameters"
## Expected Behavior (Mandatory)

The input field in `apoc.custom.list` is `[["input", "node"], ["a", "node"]]` or at least a validation error when I create the function.

## Actual Behavior (Mandatory)

The input field in `apoc.custom.list` is `[["input", "node"]]`

## How to Reproduce the Problem

[code]

### Versions

  - OS: Mac OSX BigSur
  - Neo4j: 4.2.7
  - Neo4j-Apoc: 4.2.0.4

[2021-06-24 14:26] fbiville opened #2033 "Detect missing procedure at build time"
# Problem
Several releases of APOC have been missing procedures/functions.

The last incident of this kind happened because of an issue with the scope of Guava: it was available in tests,, thus passing CI but was not included in the production core/full JARs, resulting in loading errors for some procedures/functions.

# Proposed Solution
Given all APOC procedures and functions are available from A

[2021-06-24 14:52] rjbaucells commented on #1871
Any updated on this issue, I just upgraded to Neo4J 4.3 using APOC 4.3.0.0 and the bug is still present.

This bug prevents the use of `custom.xxx()` functions and procedures!

[2021-06-24 15:06] vga91 commented on #1107
With a simple dataset like:
[code]

This could be solved in this way:

[code]

[2021-06-24 15:50] vga91 commented on #1871
@rjbaucells
The bug has been fixed and will be released soon.
However, it should only be a "log-only bug", it should still work.
That is, with:
- `CALL apoc.custom.asProcedure ('myFunction', 'return 11');`
- restart db
- `call custom.myFunction`

the procedure works despite the `UnsupportedOperationException: null` log error.

Maybe your problem is another.
Could you provide the steps to replicate

[2021-06-25 14:14] vga91 opened #2034 "The procedure `apoc.cypher.mapParallel2` sometime fails with "Unable to complete transaction" error"
## Expected Behavior (Mandatory)

The procedure always works

## Actual Behavior (Mandatory)

Sometimes we obtain an `Unable to complete transaction` error.

## How to Reproduce the Problem

[code]

[code]

### Versions

  - OS: Mac BigSur
  - Neo4j: 4.3
  - Neo4j-Apoc: 4.3.0.0

[2021-06-25 14:29] rjbaucells commented on #1871
Yes, I am facing another problem. A new database with your steps (@vga91) work fine, but I am pretty sure my problem was triggered by the database restart. I had a few procedures registered in the database (working without problems), after a restart they stop working with the following error (on the application side):

[code]

I delete all the procedures from the database:

[code]

verified they w

[2021-06-25 19:30] pierremartignon opened #2037 "apoc.export.cypher.all to generate constraints with IF NOT EXISTS"
## Feature description (Mandatory)
Add an option (or make default) the generation of IF NOT EXISTS when outputting the cypher to generate the constraints.
Currently if the loading of the cypher file is interrupted it requires to remove the constraints to be running without error.

## Considered alternatives
N/A

## How this feature can improve the project?
This allows to re-run a generated cypher

[2021-06-27 15:50] rho2 opened #2038 "apoc.export.json switches latitude and longitude for WGS84 points"
## Expected Behavior (Mandatory)
Points exported into JSON should keep the correct coordinates.

## Actual Behavior (Mandatory)
Longitude and latitude are switched.

## How to Reproduce the Problem

### Simple Dataset (where it's possible)

[code]
Result data:
[code]

## Specifications (Mandatory)

Currently used versions

### Versions

  - OS: Ubuntu 20.04
  - Neo4j: 4.3.0
  - Neo4j-Apoc: 4.3.0.0

[2021-06-27 23:19] fodon commented on #517
This StackOverflow says you can fix it.
https://stackoverflow.com/questions/31537153/jsonparseexception-illegal-unquoted-character-ctrl-char-code-10

mapper.configure(
    JsonReadFeature.ALLOW_UNESCAPED_CONTROL_CHARS.mappedFeature(),
    true
);

[2021-06-28 07:30] vga91 commented on #1176
Because of `quotes` configuration, in the tests it is necessary to understand if the lines of the `.csv` have the quotes.
It wouldn't be possible by parsing the strings into maps / lists / ...

[2021-06-28 07:57] vga91 commented on #1450
@kraney
With the latest Apoc version there is a `phase: "afterAsync"` to prevent some Transaction errors like this.
Please, could you try with this?

[2021-06-28 15:57] Dcanzano opened #2039 "apoc-4.3.0.0 not appearing in maven"
## Guidelines

## Expected Behavior (Mandatory)
APOC release should be visible in maven. and http://search.maven.org/solrsearch/select?q=g:%22org.neo4j.procedure%22+AND+a:%22apoc%22&core=gav&rows=500&wt=json

## Actual Behavior (Mandatory)
4.3.0.0 does not appear

[2021-06-29 09:48] fbiville commented on #2039
It is now fix, 4.3.0.0 is available: https://search.maven.org/artifact/org.neo4j.procedure/apoc/4.3.0.0/jar

[2021-06-29 09:48] #2039 closed

[2021-06-29 17:31] ElaineRosenberg opened #2042 "mispelled property name"
The sample code here:

https://neo4j.com/labs/apoc/4.1/virtual/graph-grouping/

refers to **n.relased** in the Cypher code. It needs to be changed to **n.released**

[2021-06-29 17:35] ElaineRosenberg opened #2043 "Doc corrections/clarifications around the Graph Grouping section"
User submitted these comments that should be incorporated into the doc.

[Neo4j_APOC_29June2021.pdf](https://github.com/neo4j-contrib/neo4j-apoc-procedures/files/6735311/Neo4j_APOC_29June2021.pdf)

[2021-06-29 23:08] gwvandesteeg opened #2044 "Apoc function calls from 4.2.0.5 error on neo4j causal cluster 4.2.7-enterprise"
## Expected Behavior (Mandatory)

Running any apoc call works on a leader node in a causal cluster

## Actual Behavior (Mandatory)

Any apoc call results in the following error, no matter what node you are on.
Server at neo4j-core-1.neo4j.default.svc.cluster.local:7687 no longer accepts writes

## How to Reproduce the Problem

Create a configMap to pass additional configuration options via environ

[2021-06-30 07:34] vga91 commented on #1453
@leandrogalrinho
With the latest Apoc version there is a `phase: "afterAsync"` to prevent some Transaction errors like this.
Please, could you try with this?

[2021-06-30 07:39] vga91 commented on #1618
@asportn
Since with `Neo4j windows service`, the `sun.java.command` env, used to locate the configuration folder, is not set, it can be solved by setting the environment variable `NEO4J_CONF` with the folder's absolute path.

[2021-06-30 08:49] vga91 commented on #1221
Currently, with the `terminationGuard` seems to work correctly

[2021-06-30 10:03] alizadehei opened #2048 "Don't support relationship indexes in apoc.export.cypher.all"
Hi
I tried to export the database using the following query:

`CALL apoc.export.cypher.all("db.cypher",{format: "neo4j-shell", useOptimizations: {type: "UNWIND_BATCH",unwindBatchSize: 20}})`
After running, I encountered the following error:

It seems that the export procedure only supports node indexes. So what about the relationship indexes?
### Versions

  - OS: Linux 20.04
  - Neo4j: 4.3.1
  -

[2021-06-30 15:30] msenechal opened #2049 "Unknown function 'apoc.trigger.nodesByLabel'"
Hi,

## Expected
Being able to use apoc.trigger.nodesByLabel inside a trigger (apoc.trigger.add)

## Current behaviour
Error :
`Failed to invoke procedure `apoc.trigger.add`: Caused by: org.neo4j.exceptions.SyntaxException: Unknown function 'apoc.trigger.nodesByLabel' (line 1, column 16 (offset: 15))
"EXPLAIN UNWIND apoc.trigger.nodesByLabel($assignedLabels,"Device") AS n OPTIONAL MATCH (d1:Device

[2021-06-30 15:33] vga91 opened #2050 "`apoc.number.parseFloat` throws NullPointerException with `null` argument"
## Expected Behavior (Mandatory)

Should be return `null` consistent with `ParseException` error (for example `apoc.number.parseFloat('aaa')`)

## Actual Behavior (Mandatory)

`apoc.number.parseFloat(null)` throws `NullPointerException`

## How to Reproduce the Problem

[code]

### Versions

  - OS: Mac
  - Neo4j: 4.2.x
  - Neo4j-Apoc: 4.2.0.4

[2021-07-01 07:58] vga91 commented on #1871
@rjbaucells
Could you write one or more procedures that cause this problem?
And also the error attached in the `neo4j.log`.

[2021-07-02 03:05] zqw961025 opened #2063 "I performed CALL apoc.load.csv('test.csv') yield lineNo, map, list RETURN *"
I expected the import to include Label and Identity, but unfortunately I didn't see them

[2021-07-02 07:44] vga91 commented on #2048
@alizadehei
Thanks for the feedback.
Just to let you know, for neo4j 4.3 you should use apoc `4.3.0.0`, not the `4.2.0.4`.
With this version full text rel-indexes are managed correctly,
however there is a problem with the `BTREE` indexes,
because it does not give your error but exports the rel-indexes as if they were node-indexes.
This one will be resolved as soon as possible.

[2021-07-02 10:35] jexp opened #2064 "apoc.bolt.execute not documented correctly"
https://neo4j.com/labs/apoc/4.2/database-integration/bolt-neo4j/

the inline description annotation says: `access to other databases via bolt for read`
it should say: `for reads and writes`

the examples for apoc.bolt.execute should show not reads but update statements or other write operations.

this image is missing:
https://neo4j.com/labs/apoc/4.2/_images/apoc.bolt.execute.scalarmulti.PNG

[2021-07-02 20:30] rjbaucells commented on #1871
Sorry, but I gave up, no longer using custom functions.

A simple test that I cannot make it work:

[code]

This statement works and returns `true` for all nodes:

[code]

[code]

[code]

Log file:

[code]

In my opinion custom functions and procedures are not stable enough to use it in production. I have had a procedure working without problem and after a database restart it no longer works. This

[2021-07-03 03:22] alizadehei commented on #2048
@vga91
Your welcome. You are right. I used Apoc 4.3.0.0 at first but there was a problem. I added Apoc 4.3.0.0 to the project using the following maven dependency:
[code]
but, some functions did not exist in the apoc 4.3.0.0. Among these functions, we can mention cases such as Coll, Maps, Meta, Date, GraphRefactoring, Warmup , ...

[2021-07-03 06:20] alizadehei opened #2065 "The absence of some functions in the Apoc 4.3.0.0"
I added Apoc 4.3.0.0 to the project using the following maven dependency:

[code]

but, some functions did not exist in the apoc 4.3.0.0. Among these functions, we can mention cases such as Coll, Maps, Meta, Date, GraphRefactoring, Warmup , ...

### Versions

  - OS: Linux 20.04
  - Neo4j: 4.3.1
  - Neo4j-Apoc: 4.3.0.0

[2021-07-07 21:01] pelletier197 opened #2073 "apoc.export.cypher.schema should use the new index formatting"
## Guidelines

## Feature description
Currently, the format of the exported indexes uses the deprecated syntax
[code]

Since Neo4j 4.1, this syntax was deprecated, and so the exports should use the new one: https://neo4j.com/docs/cypher-manual/4.1/administration/indexes-for-search-performance/#administration-indexes-create-a-single-property-index

[code]

[2021-07-08 07:13] lovepreetkaur3395 opened #2074 "`apoc.import.csv` failed for NULL values when using `INT` datatype with error "[null] is not a supported property value""
## Guidelines

Please note that GitHub issues are only meant for bug reports/feature requests. If you have questions on how to use APOC, please ask on [the Neo4j Discussion Forum](https://community.neo4j.com/c/neo4j-graph-platform/procedures-apoc) instead of creating an issue here.

## Expected Behavior (Mandatory)
CSV should get imported by ignoring the null value or may be a config to ignore nul

[2021-07-08 13:17] #1857 closed

[2021-07-08 13:32] #2064 closed

[2021-07-08 13:35] #1998 closed

[2021-07-13 08:37] conker84 commented on #1871
@rjbaucells I'm sorry to hear that but I tried to replicate your problem with your dump and Neo4j 4.2.8 and APOC 4.2.0.5
and it works.
I tried with both `debugQry` and `test2` functions.

@voutilad can you please confirm if the bug is solved in APOC 4.2.0.5?

For APOC 4.3.0.0 we need to cherry-pick the fix in it so in the next release it will be fixed as well

[2021-07-13 15:54] AlessioRussoIntroito commented on #749
Sorry to re-open this after two years, but I don't understand how to use concretely a virtual graph.
Suppose I have a database with several nodes and different labels like User, Team, City and others.
If I want to create a virtual graph to extract only Users with a particular value on a property, I can run:
[code]
If User nodes have as properties {name, age, gender, language}, how can I query **ne